{exp:channel:entries dynamic="no" entry_id="2"}
<div>
    <h4>url_decode, no params</h4>
    <span>{segment_3:url_decode}</span>
    <hr />
</div>
<div>
    <h4>url_decode, brace after space</h4>
    <span>{ segment_3:url_decode }</span>
    <hr />
</div>

<div>
    <h4>url_decode with encoded spaces</h4>
    <span>{segment_3:url_decode plus_encoded_spaces='yes'}</span>
    <hr />
</div>
<div>
    <h4>url_decode, encoded spaces, break in several lines</h4>
    <span>{segment_3:url_decode 
plus_encoded_spaces='yes'
}</span>
    <hr />
</div>

{/exp:channel:entries}
