
/*
.tbl-search input:not([type="button"]) {
	box-shadow: none !important;
	height: 29px;
	line-height: 29px;
	padding: 0 $sq-s;
	font-size: 0.9rem;
	text-transform: capitalize;
	background: color(bg-0);
	border: 1px solid color(border);
	border-radius: $corners-big;
}
*/

.setting-txt{
	h3, label{
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 5px;

			&.field-closed{
				color: color(text-normal);
				margin-bottom: 10px;
			}

			mark{
				background-color: transparent;
				color: inherit;
			}

			@include m-tablet-up {
				padding-right: 5px;
			};
	}

	em{
		color: color(text-secondary);
		display: block;
		font-size: 12px;
		font-style: normal;
		margin: 5px 0;
		padding-right: 10px;

			mark{
				background-color: transparent;
				color: color(text-normal);
			}

			@include m-tablet-up {
				margin-bottom: 10px;
			};
	}

	p{
		margin: 0 0 15px;
	}

	&.invalid{
		h3, em{
			color: color(error);
		}
	}
}


.tbl-ctrls {
	h1 {
		border-bottom: 1px dotted color(border);
		margin-bottom: 10px;
		padding: 4px 0 10px;
		font-size: $font-size-large;
	}
}

.form-btns {
	text-align: right;

	h1 {
		text-align: left;
	}

	&.form-btns-auth{
		background: color(bg-5);
		border-top: 1px solid color(border);
		margin-top: 20px;
		border-radius: 0 0 5px 5px;
		padding: $sq-inset-m;

			fieldset{
				text-align: left;

					// .tablet-portrait-up({
					// 	padding: 0 10px 15px;
					// });
			}
	}
}

.tab-bar__right-buttons {

  .form-btns {
    display: flex;

    @include m-tablet-down {
      display: block;
      width: 100%;

      .button {
        width: 100%;
      }

      .button, .button-group {
        margin-bottom: 10px;
      }

      & > .button {
        margin-left: 0px !important;
      }

      .button-group {
        margin-left: 0px !important;
      }

      .button-group .button:first-child {
        flex-grow: 1;
      }
    }
  }

  .form-btns > .button,
  .form-btns > .button-group {
    margin-left: 5px;
  }

  &.title-bar__extra-tools-publish {

    .form-btns {

      @include m-tablet-down {
        display: block;
      }
    }
  }
}

.panel-heading {
  .title-bar__extra-tools > .button,
  .title-bar__extra-tools > .button-group {
    margin-left: 5px;
  }
}

.form-standard {
    // border: 1px solid color(border);
    // border-radius: 5px;
	// margin-bottom: 20px;
	// padding: 15px 20px;

	// LEGACY 6.0
	h2:not(.title-bar__title) {
		// background-color: $white-dark;
		border-bottom: 1px solid color(form-section-title-border);
		color: color(text-secondary);
		font-size: 0.85em;
		// font-weight: normal;
		margin: ($s-l - 10px) 0 $s-m 0;
		padding: 0 0 $s-s 0;
    text-transform: uppercase;
    letter-spacing: 1px;
	}

  h2:first-child {
    margin-top: 0;
  }

  .redactor-styles h2 {
  	  border: none;
      text-transform: none;
      letter-spacing: revert;
      font-size: 1.728em;
      color: #111;
      margin-bottom: 0.5em;
      padding: 0;
  }
}

.field-toggle-all {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 5px;
	background: color(bg-10);
	margin-bottom: $s-xs;
	border: 1px solid color(bg-10);
	cursor: pointer;

	&:hover {
		background: color(accent-light);
		border-color: color(accent);
	}
}



.fields-relate-multi {
	@include m-tablet-up {
		display: flex;
	};

	.lots-of-checkboxes {
		@include m-tablet-up {
			flex: 1 0 50%;
		};

		&:last-child{
			border-top-width: 0;

			@include m-tablet-up {
				border-left: 0;
				border-top-width: 1px;
			};
		}
	}

	.lots-of-checkboxes + .lots-of-checkboxes {
		margin-top: 0;
	}

	.fields-grid &{
		.toolbar{
			top: 8px;
		}
	}
}

.after-field{
	margin-top: 10px;
}

.icon-reorder {
	@extend %fa-icon;
	@extend .fal;

	color: color(text-secondary);
	content: fa-content($fa-var-bars);
}

.ee-form-error-message {
	color: color(error);
}


.field-loading {
	display: block;
	border-radius: .5em;
	background-size: 40px 40px, 100% 100%;
	color: gray;
	text-align: center;
	background-image: -moz-linear-gradient(-45deg, #f6f6f6 0, #f6f6f6 25%, #eee 25%, #eee 50%, #f6f6f6 50%, #f6f6f6 75%, #eee 75%);
	background-image: -webkit-linear-gradient(-45deg, #f6f6f6 0, #f6f6f6 25%, #eee 25%, #eee 50%, #f6f6f6 50%, #f6f6f6 75%, #eee 75%);
	background-image: linear-gradient(to right, -45deg, #f6f6f6 0, #f6f6f6 25%, #eee 25%, #eee 50%, #f6f6f6 50%, #f6f6f6 75%, #eee 75%);
	-webkit-animation: progressed .9s linear 0 infinite;
	animation-name: progressed;
	animation-duration: .9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear
  }

  .field-loading span {
	-webkit-animation: breathing .8s ease-in-out 0 infinite alternate;
	animation-name: breathing;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out
  }

  .field-loading span:after {
	content: "\f141";
	font-family: 'Font Awesome 5 Free';
	margin-left: 0.2em;
	position: relative;
	top: 0.1em
  }

  .fields-select .field-loading {
	cursor: wait
  }

  ul.field-reorder-placeholder,
  ul.field-reorder-drag,
  ul.field-reorder-drop,
  .field-inputs li.field-reorder-placeholder,
  .field-inputs li.field-reorder-drag,
  .field-inputs li.field-reorder-drop,
  .field-inputs label.field-reorder-placeholder,
  .field-inputs label.field-reorder-drag,
  .field-inputs label.field-reorder-drop {
	border: 1px dashed
  }

  ul.field-reorder-placeholder,
  .field-inputs li.field-reorder-placeholder,
  .field-inputs label.field-reorder-placeholder {
	background-color: color(bg-0);
	border-color: color(border);
	padding: 20px;
  width: 100%;
  border-radius: $border-radius-base;
  }

  ul.field-reorder-drag,
  .field-inputs li.field-reorder-drag,
  .field-inputs label.field-reorder-drag {
	background-color: color(bg-0);
	border-color: color(border);
  border-radius: $border-radius-base;
	cursor: move;
	height: auto!important;
	pointer-events: none;
	position: absolute;
	z-index: 200;
  }

  ul.field-reorder-drag .icon-reorder:before,
  .field-inputs li.field-reorder-drag .icon-reorder:before,
  .field-inputs label.field-reorder-drag .icon-reorder:before {
	color: color(accent);
  }

  ul.field-reorder-drop,
  .field-inputs li.field-reorder-drop,
  .field-inputs label.field-reorder-drop {
	background-color: color(bg-0);
	border-color: color(border);
  }

  .drag-placeholder{
  	.none{
  		background-color: color(bg-0);
  		border: 1px dashed color(border);
  		padding: 20px;
      border-radius: $border-radius-base;
  	}

  	fieldset {
  		margin-bottom: 10px;
  	}
  }
