<div id="get">
    GET: <span>{exp:request:get name="my-var"}</span>
</div>
<div id="get_post">
    GET POST: <span>{exp:request:get_post name="my-var"}</span>
</div>
<div id="cookie">
    COOKIE: <span>{exp:request:cookie name="tracker"}</span>
</div>
<div id="ip">
    IP: <span>{exp:request:ip_address}</span>
</div>
<div id="user_agent">
    USER AGENT: <span>{exp:request:user_agent}</span>
</div>
<div id="request_header">
    REQUEST HEADER: <span>{exp:request:request_header name="Accept"}</span>
</div>
