<!doctype html>
<html>
	<head>
		<title>{layout:title}{site_name}</title>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" dir="ltr" lang="en-us">
		<meta name="viewport" content="initial-scale=1">
		<!-- meta data -->
		<meta name="author" content="">
		<meta name="description" content="{if layout:desc}{layout:desc}{if:else}{/if}">
		<!-- open graph common -->
		<meta property="og:site_name" content="{site_name}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="{theme_folder_url}site/default/asset/img/og/default.jpg"> {!-- square, 50*50 min --}
		<!-- open graph per page -->

		{if layout:og_title != ''}
			<!-- open graph per page -->
			<meta property="og:title" content="{layout:og_title}">
			<meta property="og:url" content="{layout:og_url}">
			<meta property="og:description" content="{layout:og_description}">
		{/if}

		<link href="/robots.txt" title="robots" type="text/plain" rel="help">
		<link href="{theme_folder_url}site/default/asset/style/common.min.css" title="common-styles" rel="stylesheet">
		<link href="{theme_folder_url}site/default/asset/style/debug.min.css" title="common-styles" rel="stylesheet">
	</head>
	<body>
		<header class="full">
			<section class="row">
				<section class="w-8">
					<h1><a href="{homepage}"><b>{site_name}</b> Website</a></h1>
				</section>
				<section class="w-8">
					{!-- appears in both header and footer, so a snippet is used to keep it DRY --}
					{snp_main_nav}
				</section>
			</section>
		</header>
