{layout="cypress/layout"}
{exp:member:custom_profile_data username="{segment_3}"}
<div class="username">
    Username:
    <span>{username}</span>
</div>
<div class="my_buttons">
    My Buttons:
    <span>{my_buttons}{item}{/my_buttons}</span>
</div>
<div class="member_url">
    Member URL:
    <span>{member_url}</span>
</div>
<div class="my_date">
    My Date:
    <span>{my_date format="%Y-%m-%d"}</span>
</div>
<div class="my_rte">
    My RTE:
    <div>{my_rte:limit characters="20"}</div>
</div>
{/exp:member:custom_profile_data}