{exp:member:registration_form return="mbr" primary_role="{segment_3}"}

        <p>* Required fields</p>
    <fieldset>
        <h4>Login details</h4>

        <p>
            <label for="username">Username*:</label><br />
            <input type="text" name="username" id="username" value="{if username}{username}{/if}"/><br />
        </p>

        <p>
            <label for="email">Email*:</label><br />
            <input type="text" name="email" id="email" value="{if email}{email}{/if}"/><br />
        </p>

        <p>
            <label for="password">Password*:</label><br />
            <input type="password" name="password" id="password" value="{if password}{password}{/if}"/>
        </p>

        <p>
            <label for="password_confirm">Confirm password*:</label><br />
            <input type="password" name="password_confirm" id="password_confirm" value="{if password_confirm}{password_confirm}{/if}"/>
        </p>

        <p>
            <label for="terms_of_service">Terms of service:</label><br />
            <div>All messages posted at this site express the views of the author, and do not necessarily reflect the views of the owners and administrators
                of this site.By registering at this site you agree not to post any messages that are obscene, vulgar, slanderous, hateful, threatening, or that violate any laws. We will
                permanently ban all users who do so.We reserve the right to remove, edit, or move any messages for any reason.</div>
        </p>

        <p>
            <label><input type="checkbox" name="accept_terms" id="accept_terms" value="y" {if accept_terms == 'y'}checked="checked"{/if} /> I accept these terms</label>
        </p>

        {if captcha}
        <p>
            <label for="captcha">{lang:captcha}*</label>
            {captcha}<br/>
            <input type="text" id="captcha" name="captcha" value="" size="20" maxlength="20" style="width:140px;"/>
        </p>
        {/if}
    </fieldset>

    <input type="submit" value="Register" id="submit" class="btn btn-primary" />
{/exp:member:registration_form}
