# Basics =======================================================================

.DS_Store
Thumbs.db
env_local.rb
*.swp
node_modules/
.vscode/
cypress.env.json
phpcs.ruleset.xml
.phpunit.result.cache
.tool-versions

system/user/addons/*
!system/user/addons/index.html

!system/user/addons/download
!system/user/addons/google_maps
!system/user/addons/js_tool
!system/user/addons/testage
!system/user/addons/debug
!system/user/addons/safecracker_file
!system/user/addons/cookie_check
!system/user/addons/cookie_consent
!system/user/addons/ellislab_high_ascii_decode
!system/user/addons/wiki

system/user/cache/*
!system/user/cache/index.html
!system/user/cache/.htaccess

system/user/config/*
system/user/config/config.php
system/user/config/database.php
!system/user/config/.htaccess
!system/user/config/license.key
!system/user/config/index.html

system/user/language/*
!system/user/language/index.html

system/user/templates/*
!system/user/templates/index.html
!system/user/templates/.htaccess

themes/user/*
themes/ee/asset/javascript/compressed/


# Tests ========================================================================

system/ee/ExpressionEngine/Tests/vendor/
tests/rspec/config.local.rb
tests/rspec/screenshots/*
tests/rspec/support/file-sync/uploads/*
tests/rspec/fixtures/vendor/

system/ee/ExpressionEngine/Tests/vendor/*
system/ee/installer/updater/ExpressionEngine/Tests/vendor/*

tests/cypress/support/sql/seed.sql
tests/cypress/vendor/
tests/cypress/vendor/*
tests/cypress/cypress/downloads/*
cypress.env.json


# Themes/Images ================================================================

media/*

images/captchas/*
!images/captchas/index.html
!images/captchas/.htaccess

images/avatars/*
!images/avatars/default/
!images/avatars/index.html
!images/avatars/.htaccess

images/forum_attachments/*
!images/forum_attachments/index.html
!images/forum_attachments/.htaccess

images/member_photos/*
!images/member_photos/index.html
!images/member_photos/.htaccess

images/signature_attachments/*
!images/signature_attachments/index.html
!images/signature_attachments/.htaccess

images/pm_attachments/*
!images/pm_attachments/index.html
!images/pm_attachments/.htaccess

images/uploads/*
!images/uploads/index.html
!images/uploads/.htaccess

themes/third_party/

asset/*

# Renamed installer
system/ee/installer_*

# Updater dependencies =================================================

system/ee/installer/updater/ExpressionEngine/Updater/Boot/boot.common.php
system/ee/installer/updater/ExpressionEngine/Updater/Core/Autoloader.php
system/ee/installer/updater/ExpressionEngine/Updater/Library/Filesystem/Filesystem.php
system/ee/installer/updater/ExpressionEngine/Updater/Library/Filesystem/FilesystemException.php
system/ee/installer/updater/ExpressionEngine/Updater/Protocol/Config/Config.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Config/ConfigWithDefaults.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Config/Directory.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Config/Factory.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Config/File.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Logger/File.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Updater/Logger.php
system/ee/installer/updater/ExpressionEngine/Updater/Service/Updater/Verifier.php

#
*.code-workspace
/.ddev
/vendor/
/vendor-build/
/vendor-bin/*/vendor
