.DS_Store
Thumbs.db
env_local.rb
system/expressionengine/config/config.php
system/expressionengine/config/database.php
system/expressionengine/config/config1x.php
system/expressionengine/config/config_1x.php
members_1k.xml
media/*

themes/cp_themes/brilliant_retail/
themes/site_themes/brilliant_retail/
themes/solspace_themes/
themes/third_party/
*.swp
code_coverage/
system/tests/phpunit/vendor/
system/tests/phpunit/composer.lock

images/test1/

system/expressionengine/cache/*
!system/expressionengine/cache/index.html
!system/expressionengine/cache/.htaccess

system/expressionengine/templates/*
!system/expressionengine/templates/index.html
!system/expressionengine/templates/.htaccess

system/expressionengine/third_party/*
!system/expressionengine/third_party/index.html
!system/expressionengine/third_party/download
!system/expressionengine/third_party/google_maps
!system/expressionengine/third_party/js_tool
!system/expressionengine/third_party/testage
!system/expressionengine/third_party/debug
!system/expressionengine/third_party/safecracker_file
!system/expressionengine/third_party/cookie_check
!system/expressionengine/third_party/cookie_consent
!system/expressionengine/third_party/nannerbanner
!system/expressionengine/third_party/ellislab_high_ascii_decode

system/expressionengine/language/deutsch/*

^images/(captchas|avatars/uploads|forum_attachments|member_photos|signature_attachments|pm_attachments|uploads)/(?!index\.html)

images/captchas/*
!images/captchas/index.html
!images/captchas/.htaccess

images/avatars/uploads/*
!images/avatars/index.html
!images/avatars/.htaccess

images/forum_attachments/*
!images/forum_attachments/index.html
!images/forum_attachments/.htaccess

images/member_photos/*
!images/member_photos/index.html
!images/member_photos/.htaccess

images/signature_attachments/*
!images/signature_attachments/index.html
!images/signature_attachments/.htaccess

images/pm_attachments/*
!images/pm_attachments/index.html
!images/pm_attachments/.htaccess

images/uploads/*
!images/uploads/index.html
!images/uploads/.htaccess

themes/site_themes/agile_records/images/uploads/_thumb/*
!themes/site_themes/agile_records/images/uploads/_thumb/index.html
!themes/site_themes/agile_records/images/uploads/_thumb/testband300.jpg
!themes/site_themes/agile_records/images/uploads/_thumb/ee_banner*
!themes/site_themes/agile_records/images/uploads/_thumb/map*.jpg
!themes/site_themes/agile_records/images/uploads/_thumb/staff*.png











