<div id="get">
    GET: <span>{exp:http_methods:get name="my-var"}</span>
</div>
<div id="get_post">
    GET POST: <span>{exp:http_methods:get_post name="my-var"}</span>
</div>
<div id="cookie">
    COOKIE: <span>{exp:http_methods:cookie name="tracker"}</span>
</div>
<div id="ip">
    IP: <span>{exp:http_methods:ip_address}</span>
</div>
<div id="user_agent">
    USER AGENT: <span>{exp:http_methods:user_agent}</span>
</div>
<div id="request_header">
    REQUEST HEADER: <span>{exp:http_methods:request_header name="Accept"}</span>
</div>
