#ee-pro-ee-44E4F0E59DFA295EB450397CA40D1169 {
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b {
    font-weight: bolder;
  }
  strong {
    font-weight: bolder;
  }
  code {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  kbd {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
  }
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }
  input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
  }
  optgroup {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
  }
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: auto;
  }
  [type="button"] {
    -webkit-appearance: button;
    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }
  [type="reset"] {
    -webkit-appearance: button;
    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }
  [type="submit"] {
    -webkit-appearance: button;
    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"] {
    &::-webkit-inner-spin-button {
      height: auto;
    }
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
  &::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }
}
