{layout="cypress/layout"}
<h1>Global Variables</h1>

<div id="site_id">{site_id}</div>
<div id="site_label">{site_label}</div>
<div id="site_url">{site_url}</div>
<div id="site_description">{site_description}</div>
<div id="site_short_name">{site_short_name}</div>
<div id="site_name">{site_name}</div>
<div id="site_index">{site_index}</div>
<div id="webmaster_email">{webmaster_email}</div>
<div id="last_segment">{last_segment}</div>
<div id="current_url">{current_url}</div>
<div id="current_path">{current_path}</div>
<div id="current_query_string">{current_query_string}</div>
<div id="template_name">{template_name}</div>
<div id="template_group">{template_group}</div>


<div id="member_id">{member_id}</div>
<div id="primary_role_id">{primary_role_id}</div>
<div id="primary_role_description">{primary_role_description}</div>
<div id="primary_role_name">{primary_role_name}</div>
<div id="primary_role_short_name">{primary_role_short_name}</div>
<div id="username">{username}</div>
<div id="screen_name">{screen_name}</div>
<div id="avatar_filename">{avatar_filename}</div>
<div id="avatar_width">{avatar_width}</div>
<div id="avatar_height">{avatar_height}</div>
<div id="email">{email}</div>
<div id="ip_address">{ip_address}</div>
<div id="total_entries">{total_entries}</div>
<div id="total_comments">{total_comments}</div>
<div id="mfa_enabled">{mfa_enabled}</div>


<div id="logged_in_member_id">{logged_in_member_id}</div>
<div id="logged_in_primary_role_id">{logged_in_primary_role_id}</div>
<div id="logged_in_primary_role_description">{logged_in_primary_role_description}</div>
<div id="logged_in_primary_role_name">{logged_in_primary_role_name}</div>
<div id="logged_in_primary_role_short_name">{logged_in_primary_role_short_name}</div>
<div id="logged_in_username">{logged_in_username}</div>
<div id="logged_in_screen_name">{logged_in_screen_name}</div>
<div id="logged_in_avatar_filename">{logged_in_avatar_filename}</div>
<div id="logged_in_avatar_width">{logged_in_avatar_width}</div>
<div id="logged_in_avatar_height">{logged_in_avatar_height}</div>
<div id="logged_in_email">{logged_in_email}</div>
<div id="logged_in_ip_address">{logged_in_ip_address}</div>
<div id="logged_in_total_entries">{logged_in_total_entries}</div>
<div id="logged_in_total_comments">{logged_in_total_comments}</div>
<div id="logged_in_mfa_enabled">{logged_in_mfa_enabled}</div>
