.redactor-toolbar-config {margin-bottom:5px;}
.redactor-toolbar-config .wbtn {text-align:center;}
.redactor-toolbar-config .redactor-toolbar {box-shadow:0 0 11px rgba(0, 0, 0, 0.25);}

.editor-settings .advsetting {}
.editor-settings .advsetting-field {}
.editor-settings .advsetting-field small {
    color: gray;
    display: block;
    font-size: 12px;
    font-style: normal;
    margin: 0 0 5px;
    padding-right: 10px;
}