{layout="members/_layout"}

<h1>Member Registration - Custom</h1>

{if logged_in}
    <h2>You are already registered.</h2>
{if:else}
    {exp:member:registration_form}
        <div class="form-group">
            <label for="email" class="col-sm-3 col-md-2 control-label">Email Address</label>
            <div class="col-sm-7 col-lg-6">
                <input type="email" name="email" id="email" placeholder="Enter your email address here" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-3 col-md-2 control-label">Username</label>
            <div class="col-sm-7 col-lg-6">
                <input type="text" name="username" id="username" placeholder="Enter your username here" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="screen_name" class="col-sm-3 col-md-2 control-label">Screen Name</label>
            <div class="col-sm-7 col-lg-6">
                <input type="text" name="screen_name" id="screen_name" placeholder="Enter your screen name here" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 col-md-2 control-label">Password</label>
            <div class="col-sm-7 col-lg-6">
                <input type="password" name="password" id="password" placeholder="Enter your password here" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password_confirm" class="col-sm-3 col-md-2 control-label">Confirm Password</label>
            <div class="col-sm-7 col-lg-6">
                <input type="password" name="password_confirm" id="password_confirm" placeholder="Re-type your password again here" class="form-control">
            </div>
        </div>

        {if segment_3 == "key"} {!-- If this is a registration from a Key Invite --}
            <div class="form-group">
                <label for="key" class="col-sm-3 col-md-2 control-label">Invite Key</label>
                <div class="col-sm-7 col-lg-6">
                    <input type="text" name="key" id="key" value="{key}" placeholder="Enter the key from your invite here" class="form-control">
                </div>
            </div>
        {/if}

        {if captcha}
            <div class="form-group">
                <label for="captcha" class="col-sm-3 col-md-2 control-label">{captcha}</label>
                <div class="col-sm-7 col-lg-6">
                    <input type="text" name="captcha" id="captcha" placeholder="Enter the word you see on the left" class="form-control">
                </div>
            </div>
        {/if}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-offset-2 col-sm-7 col-lg-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="accept_terms" id="accept_terms" value="y" />
                        Accept Terms?
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-offset-2 col-sm-7 col-lg-6">
                <button type="submit" class="btn btn-lg btn-success">Register</button>
            </div>
        </div>

        {if user_no_results}
            <div class="alert alert-warning" role="alert">
                <p>You're currently logged in, and must be logged out to register a new account.</p>
            </div>
        {/if}
    {/exp:member:registration_form}
{/if}