
.badge {
	$bubble-size: 19px;

	position: relative;
	display: inline-block;
	padding: 0 5px;
	height: $bubble-size;
	line-height: $bubble-size;
	border-radius: $bubble-size / 2;
	text-align: center;
	font-size: 13px;
}

.badge--small {
	$bubble-size: 16px;
	padding: 0 4px;
	height: $bubble-size;
	line-height: $bubble-size;
	border-radius: $bubble-size / 2;
	font-size: 11px;
}

.badge--notification {
	color: #fff;
	background: color(notification);
}

.badge--info {
	color: color(accent);
	background: color(accent-medium);
}

.badge--info-alt {
	color: color(accent);
	background: #fff;
}
