
$checkbox-size: 15px;

@mixin checkbox($checkbox-size) {
  background-color: color(bg-0);
  transition: all 100ms ease;
	position: relative;
	width: $checkbox-size;
	height: $checkbox-size;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	border: 1px solid color(border-dark);
	border-radius: $border-radius-xsmall;

	&:after {
		transition: all 100ms ease;
		content: "";
		display: block;
		position: absolute;
		top: 18%;
		left: 8%;
		// width: 25%;
		// height: 45%;
		// left: 40%;
		// top: 20%;

		// border: 2px solid #fff;
		// border-top: 0;
		// border-left: 0;
		// transform: rotate(45deg) scale(0);
		opacity: 0;

		@extend %fa-icon;
		@extend .fas;
		@extend .fa-fw;
		font-size: $checkbox-size / 1.6;

		margin: 0 !important;
		color: #fff !important;
		content: fa-content($fa-var-check);

	}

	&:checked, &.checkbox--checked {
		background: color(accent);
		border-color: color(accent);
		// box-shadow: 0 1px 2px rgba(#AE97FF, 0.05), 0 2px 10px rgba(rgb(97, 114, 242), 0.05);

		&:after {
			opacity: 1;
			// transform: rotate(45deg) scale(1);
		}
	}

	&:disabled, &.checkbox--disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:focus {
		// @include focus-outline;
	}

	&:active:not(:disabled) {
		transform: scale(0.9);
	}
}

.checkbox, input[type="checkbox"] {
	@include checkbox(15px);
}

.checkbox--large,
input[type="checkbox"].checkbox--large {
	@include checkbox(20px);
  border-radius: $border-radius-small;
}

.checkbox--small,
input[type="checkbox"].checkbox--small {
	@include checkbox(12px);
  border-radius: $border-radius-xsmall;
}

$radio-size: 15px;

.radio, input[type="radio"] {
	transition: all 100ms ease;
	position: relative;
	width: $radio-size;
	height: $radio-size;
	margin: 0;
	padding: 0;

	-webkit-appearance: none;
	-moz-appearance: none;

	cursor: pointer;
	// background: color(bg-10);
	border: 1px solid color(border-dark);
	// box-shadow: 0 2px 0 color(input-border-accent);;
	border-radius: 50%;

	&:after {
		transition: all 100ms ease;
		content: "";
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		left: 4px;
		top: 4px;

		border-radius: 50%;
		background: #fff;
		transform: rotate(45deg) scale(0);
		opacity: 0;
	}

	&:checked, &.checkbox--checked {
		background: color(accent);
		border-color: color(accent);
		// box-shadow: 0 1px 2px rgba(#AE97FF, 0.05), 0 2px 10px rgba(rgb(97, 114, 242), 0.05);

		&:after {
			opacity: 1;
			transform: rotate(45deg) scale(1);
		}
	}

	&:disabled, &.checkbox--disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:focus {
		@include focus-outline;
	}

	&:active:not(:disabled) {
		transform: scale(0.9);
	}
}

.small-checkbox-label {
	display: flex;
	cursor: pointer;

	input[type="checkbox"] {
		margin-right: 6px;
	}
}

.checkbox-label {
	display: block;
	$label-padding: $s-xs + 4px;
	margin-bottom: 0;
	position: relative;
  font-weight: normal;

	.checkbox-label__text {
		display: block;
		position: relative;
		padding: $label-padding - 4px;
		padding-left: $checkbox-size + 10px;
		// line-height: 21px;

		cursor: pointer;
		transition: background 100ms ease;
		color: color(text-primary);
		border-radius: 5px;

		&:hover {
			// background: color(bg-10);
		}
	}

	input {
		z-index: 1;
		position: absolute;
		top: $label-padding;
		left: 0px;

    &.checkbox--large {
      z-index: 1;
      position: absolute;
      top: $label-padding - 2px;
      left: -5px;
    }
	}

	input:disabled + .checkbox-label__text {
		cursor: not-allowed;
		opacity: 0.6;

		&:hover  {
			background: transparent;
		}

		&:hover:checked {
			// background: color(bg-10);
		}
	}

	input:checked + .checkbox-label__text {
		// background: color(bg-10);
	}
}



.lots-of-checkboxes {
	border: 1px solid color(lots-of-checkboxes-border);
	border-radius: $border-radius-base;

	.checkbox-label__text {
		border-radius: 0;
	}
}

.lots-of-checkboxes__search {
	padding: $s-s;
	margin-bottom: $s-s;
	background: color(bg-0);
  border-bottom: 1px solid color(border);
  border-radius: $border-radius-base $border-radius-base 0 0;

	.lots-of-checkboxes__search-inner {
		display: flex;
		flex-wrap: wrap;
		// margin-top: -$s-s;
	}

	.lots-of-checkboxes__search-input {
		flex: 1 1;
		margin-right: $s-s;
	}

  .filter-bar {
    margin-top: 0px;

    .filter-bar__item {
      margin-bottom: 0px;
    }
  }

	// LEGACY 6.0
	.filter-item__search {
		width: 100%;
	}

	input[type="text"] {
		height: 30px;
		line-height: 30px;
		padding: 0 $sq-xs;
	}

  .ctrl-all {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    @include m-tablet-down {
      margin-top: 3px;
    }
  }

	// input, .ctrl-all {
	// 	margin-top: $s-s;
	// }
}

.lots-of-checkboxes .lots-of-checkboxes__items {
  padding: 0px 15px 15px;
}

.lots-of-checkboxes__items--too-many {
	height: 250px;
    max-height: 1000px;
    overflow: auto;
	resize: vertical;

	.checkbox-label {
		margin-bottom: 0;
	}
}

.lots-of-checkboxes__selection {
	background: color(bg-0);
	padding: $s-s 15px;
	background: color(accent-light);
	border-top: 1px solid color(border);
	// box-shadow: 0 -5px 10px -10px rgba(#000, 0.2);

	.fas {
		color: color(accent);
	}
}

// LEGACY 6.0
ul.field-nested,
ul.field-nested ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
}

.field-nested {
	.checkbox-label {
		margin-bottom: 0;
	}
}

// LEGACY 6.0
ul.field-nested ul {
	padding-left: 20px;

	li {
		label {
			border-left: 2px solid color(border);
      padding-left: $s-s;
		}

    input[type="checkbox"],
    input[type="radio"] {
      left: $s-s;
    }

		ul {
			position: relative;

			&::before {
				content: "";
				display: block;
				width: 20px;
				height: 0;
				top: 0;
				left: 0;
				border-bottom: 2px solid color(border-dark);
				position: absolute;
			}
		}
	}
}

// LEGACY 6.0
.field-nested li {
	padding: 0;

	.checkbox-label__text-editable {
		&:before {
			position: absolute;
		  display: block;
		  content: '';
		  width: 10px;
		  height: 100%;
		  background: inherit;
		  top: 0;
		  left: -10px;
			border-bottom-left-radius: 5px;
  		border-top-left-radius: 5px;
		}

		.flyout-edit-icon {
		  padding: 5px 15px;
		  font-size: 0.8rem;
		  line-height: 1.5;
		  border-radius: 4px;
		  float: right;
		}		
	}

	.checkbox-label:hover {
		.checkbox-label__text-editable {
			background: var(--ee-secondary-sidebar-item-bg);
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
  		border-top-left-radius: 0;
  		border-bottom-left-radius: 0;			
		}
	}

	&.nestable-item {
		& > ul.field-nested {
			.checkbox-label__text-editable:before {
				border-radius: 0;
			}
		}
	}
}
