
.grid-field {
	width: 100%;

	.table-responsive {
		box-shadow: none;
		border: 1px solid color(border);
		// overflow-x: visible;
	}
}

.grid-field__table {
  th {
    font-size: 0.9em;
    background: color(bg-0);
    border-right: 1px solid color(table-border);
  }

  tr {

	}

	tr.ui-sortable-helper {
		box-shadow: color(shadow-dropdown);
		background: color(accent-light);
	}

  tr.no-results {
    td {
      border-bottom: none;
    }
  }

  tbody td {
    vertical-align: top;
    border-right: 1px solid color(table-border);
    min-width: 250px;
    max-width: 600px;

     @include m-tablet-down {
       border-right: none;
     }
  }

  td:first-child, th:first-child {
    padding-left: 15px;
  }

  td:last-child, th:last-child {
    padding-right: 15px;
    border-right: none;
    min-width: 80px;
  }
  

  .file-field__dropzone {
    margin-top: 0px;

	.dropdown__link, .file-field__buttons {
		text-indent: 0;
	}
	.dropdown__link--selected {
		&::before {
			margin-right: 20px;
			margin-left: 0;
		}
	}
  }

	.file-field__buttons {
		.dropdown__link {
			text-indent: 0;
		}
	}

  input[type=email], input[type=number], input[type=password], input[type=text], input[type=url], textarea {
    min-width: 150px;
  }
}


.grid-relate, .grid-multi-relate {
	.dropdown__link {
		display: inline-block;
	}
}



#routes {
	.grid-field__table {
		tr {
			background: inherit;
		}
	}
}

#routes {
	.table-responsive {
		overflow-x: inherit;
	}
}

// .grid-field__table td {
// 	padding: 0;

// 	textarea,
// 	select,
// 	input[type='text'],
// 	input[type='email'],
// 	input[type='number'],
// 	input[type='password'],
// 	input[type='url'] {
// 		border-color: transparent;
// 		border-radius: 0;
// 		box-shadow: none;
// 		height: 100%;

// 		&:focus {
// 			border-width: 1px;
// 			border-color: color(accent);
// 		}
// 	}
// }

// .grid-field__table tr:last-child {
// 	td:first-child {
// 		input, textarea, select {
// 			border-bottom-left-radius: $corners-big;
// 		}
// 	}

// 	td:last-child {
// 		input, textarea, select {
// 			border-bottom-right-radius: $corners-big;
// 		}
// 	}
// }

.grid-field__column-label {
	display: none;
}

.grid-field__column-remove {
	width: 1%;
	// background: color(bg-10);
	// border-bottom: none;
	// border-bottom-right-radius: 0 !important;
}

.grid-field__column--tools {
	vertical-align: top;
	font-size: 1rem;
	padding-left: 8px;
  padding-right: 8px !important;
	// background: color(bg-10);

  .button {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.grid-field__column-tool {
	// display: block;
	// padding: $s-xs;
	// line-height: 1 !important;
	// color: color(text-tertiary) !important;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover, &.dropdown-open {
		opacity: 0.8;
	}
}

.grid-field__footer {
	margin-top: $s-s;
}

// LEGACY 6.0
.grid-blank-row {
	display: none !important;
}

// LEGACY 6.0
.sort-cancel {
	display: none;
}

// Collapse the grid field on mobile
@include m-tablet-down {

	.grid-field__column-label {
		display: block;
	}

	.grid-field .table-responsive {
		box-shadow: none;
		border: none;
		border-radius: 0;
	}

	.grid-field__table {
		&, tbody, th, td, tr {
			// position: relative;
			display: block;
			border: none;
		}

		thead {
			display: none;
		}

		tr {
			display: flex;
			flex-direction: column;

      &.hidden {
        display: none;
      }
		}

		tr {
			position: relative;
			border: 1px solid color(border);
			margin-bottom: 10px;
			border-radius: $corners-big;
			padding-bottom: $sq-s;

      &.no-results {
        border: 1px solid color(border);
        padding-bottom: 18px;

        td {
          padding-top: 0;
        }
      }
		}

		td {
			display: block;
			border-bottom: none !important;
			padding: $sq-inset-s;
			// padding-right: $sq-s + 40px;

			padding-bottom: 0;
		}

	}

	.grid-field__column--tools {
		// position: absolute;
		// top: 0;
		// bottom: 0;
		// order: -5;
		// display: flex;
		// justify-content: center;
		// width: 40px;
		// right: 0;
		// border-radius: 0 $corners-big $corners-big 0 !important;
		// background: color(bg-5);
		// padding: $sq-inset-s;
		// padding: $sq-s 0 0 0 !important;
		text-align: left;
		// border-radius: $corners-big $corners-big 0 0;

    .button {
      margin-bottom: 0;
    }
	}
}

.live-preview__form-content .grid-field,
.grid-field.overwidth {
	.table-responsive {
		overflow-x: hidden;
	}

	.grid-field__table {
		display: flex;

		thead {
			display: none;
		}

		tbody {
			width: 100%;

			tr:not(.hidden) {
				display: flex;
				flex-direction: column;
				width: 100%;
				border-bottom: 3px solid var(--ee-table-border);

				&:last-child {
					border-bottom: none;

					@include m-tablet-down {
						border-bottom-width: 1px;
					}
				}

				td {
					width: 100%;
					max-width: 100%;
					display: flex;
					border-bottom: 1px solid var(--ee-table-border);

					&:last-child {
						border-bottom: none;
					}

					& > *:not(.grid-field__column-label) {
						width: calc(100% - 120px);

						@include m-desktop-down {
							width: calc(100% - 80px);
						}
					}

					.grid-field__column-label {
						display: block;
						color: var(--ee-text-secondary);
						font-weight: 500;
						white-space: normal;
						border-right: 1px solid var(--ee-table-border);
						margin-right: 15px;
						flex: 0 0 120px;

						@include m-desktop-down {
							flex: 0 0 80px;
						}
					}

					.grid-field__column-tools {
						width: 100%;
						display: flex;
						align-items: center;

						.button {
							margin-bottom: 0;

							&:first-child {
								margin-right: 10px;
							}
						}
					}
				}
			}

			tr.no-results {
				border-bottom: none;
				padding: 0;
			}
		}
	}
}