
.grid-field {
	width: 100%;

	.table-responsive {
		@include shadow-input;
		border: 1px solid color(border);
		// overflow-x: visible;
	}
}

.grid-field__table {
  th {
    font-size: 0.9em;
    background: color(bg-0);
    border-right: 1px solid color(table-border);
  }

  tr {
  	td {
  		@include m-tablet-down {
  			min-width: 0 !important;
  			width: 100% !important;
  			max-width: 100% !important;
  		}

  		&.grid-rte,
  		&.grid-file-upload,
  		&.grid-multi-relate {
  			// min-width: 400px;
  		}

  		&.grid-field__column--tools {

  		}

  		&.grid-multi-relate {
  			@include m-tablet-down {
  				position: relative;

  				.dropdown--open {
  					top: calc(100% + 4px) !important;
  					transform: none !important;
  				}
  			}
  		}
  	}
	}

	tr.ui-sortable-helper {
		box-shadow: color(shadow-dropdown);
		background: color(accent-light);
	}

  tr.no-results {
    td {
      border-bottom: none;
    }
  }

  tbody td {
    vertical-align: top;
    border-right: 1px solid color(table-border);
    min-width: 250px;
    max-width: 600px;

     @include m-tablet-down {
       border-right: none;
     }
  }

  td:first-child, th:first-child {
    padding-left: 15px;
  }

  td:last-child, th:last-child {
    padding-right: 15px;
    border-right: none;
    min-width: 80px;
  }


  .file-field__dropzone {
    margin-top: 0px;

	.dropdown__link, .file-field__buttons {
		text-indent: 0;
	}
	.dropdown__link--selected {
		&::before {
			margin-right: 20px;
			margin-left: 0;
		}
	}
  }

	.file-field__buttons {
		.dropdown__link {
			text-indent: 0;
		}
	}

  input[type=email], input[type=number], input[type=password], input[type=text], input[type=url], textarea {
    min-width: 150px;
  }
}


.grid-relate, .grid-multi-relate {
	.dropdown__link {
		display: inline-block;
	}
}



#routes {
	.grid-field__table {
		tr {
			background: inherit;
		}
	}
}

#routes {
	.table-responsive {
		overflow-x: inherit;
	}
}

.grid-field__column-label {
	display: none;

	label {
		display: block;
		color: var(--ee-text-normal);
		margin-bottom: 5px;
		font-weight: 500;
	}
}

.grid-field__column-remove {
	width: 1%;
}

.grid-field__column--tools {
	vertical-align: top;
	font-size: 1rem;
	padding-left: 8px;
  padding-right: 8px !important;

  .button {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.grid-field__column-tool {
	&:last-child {
		margin-bottom: 0;
	}

	&:hover, &.dropdown-open {
		opacity: 0.8;
	}
}

.grid-field__footer {
	margin-top: $s-s;
}

// LEGACY 6.0
.grid-blank-row {
	display: none !important;
}

// LEGACY 6.0
.sort-cancel {
	display: none;
}



.grid-field__item-fieldset {

	.grid-field__column-label {
		display: block;
	}

	.grid-field__item-tools {
		transition: opacity 100ms ease;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		z-index: 1;

		&.has-open-dropdown {
			z-index: 200;
		}

		.grid-field__item-tool {
			-webkit-appearance: none;
			appearance: none;
			display: inline-block;
			padding: 0px;
			margin-left: 5px;
			background: transparent;
			border: none;
			line-height: 1 !important;
			cursor: pointer;
			color: var(--ee-text-secondary);

			&:hover {
				color: var(--ee-link);
			}

			.dropdown {
				max-height: 90vh;
				overflow-y: auto;
				white-space: nowrap;
			}
		}
	}

	.field-instruct {
		padding-right: 55px;
		margin-bottom: 5px;

		label {
			margin-right: 5px;
			color: var(--ee-text-secondary);
			display: inline-block;
			font-size: 1rem;
			margin-bottom: 0 !important;
      margin-left: -5px;
		}

		button {
			border: none;
			background: none;
			color:inherit;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
		}
	}

	tr.grid__item--collapsed {
		padding-bottom: 0 !important;

		td:not(.grid-field__item-fieldset) { display: none !important;}

		td.grid-field__item-fieldset {
			border-bottom: none !important;

			.grid-field__item-tool {
				transform: rotate(180deg);
			}
		}
	}
}

// VERTICAL GRID LAYOUT
.grid-field.vertical-layout {
	padding: 10px;
	background: var(--ee-bg-0);
	border: 1px solid var(--ee-border);
	border-radius: 5px;

	.table-responsive {
		box-shadow: none;
		border:none;
		border-radius: 0;
		overflow: inherit;
	}

	.grid-field__table {
		display: block;

		thead {
			display: none;
		}

		tbody {
			display: block;
			border: none;

			tr:not(.hidden) {
				display: flex;
				flex-direction: column;
				position: relative;
				border: 1px solid var(--ee-border);
				margin-bottom: 10px;
				padding-bottom: 15px;
				background-color: var(--ee-bg-blank);

				td {
					border-right: none;
					min-width: 0;
					width: 100%;
					max-width: 100%;
					display: block;
					border-bottom: none;
					padding: 10px 15px 10px 15px;
          font-size: 1rem;

					&.grid-field__column--tools {
						text-align: left;

						.button {
							margin-bottom: 0;
						}
					}
				}
			}

			tr.no-results {
				padding: 0px;
        background-color: transparent;
        border: none;

				td {
					padding-top: 0;
				}
			}

			tr.grid__item--collapsed {
				padding-bottom: 0 !important;

				td:not(.grid-field__item-fieldset) { display: none !important;}

				td.grid-field__item-fieldset {
					border-bottom: none !important;

					.grid-field__item-tool {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.grid-field__item-fieldset{
		padding: 10px 15px 5px 15px;
		border-bottom: 1px solid var(--ee-border) !important;
		position: relative;

    .field-instruct {

      label {
        font-size: 1rem;

        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
	}

	.grid-field__column--tools { display: none !important;}

  .grid-field__column-label {
  	display: inherit;
  }
}

// Collapse the grid field on mobile
@include m-tablet-down {

	.grid-field__column-label {
		display: block;
	}

	.grid-field .table-responsive {
		box-shadow: none;
		border: none;
		border-radius: 0;
		overflow: inherit;
	}

	.grid-field__table {
		&, tbody, th, td, tr {
			// position: relative;
			display: block;
			border: none;
		}

		thead {
			display: none;
		}

		tr {
			display: flex;
			flex-direction: column;

      &.hidden {
        display: none;
      }
		}

		tr {
			position: relative;
			border: 1px solid color(border);
			margin-bottom: 10px;
			padding-bottom: $sq-s;
			background-color: var(--ee-bg-blank);

      &.no-results {
        padding: 0px;

        td {
          padding-top: 0;
        }
      }
		}

		td {
			display: block;
			border-bottom: none;
			padding: $sq-inset-s;
			padding-bottom: 0;
		}

		tr.grid__item--collapsed {
				padding-bottom: 0 !important;

				td:not(.grid-field__item-fieldset) { display: none !important;}

				td.grid-field__item-fieldset {
					border-bottom: none !important;

					.grid-field__item-tool {
						transform: rotate(180deg);
					}
				}
			}
	}

	.grid-field__column--tools {
		text-align: left;

    .button {
      margin-bottom: 0;
    }
	}

	.entry-grid, .vertical-layout {
		padding: 10px;
		background: var(--ee-bg-0);
		border: 1px solid var(--ee-border);
		border-radius: 5px;

		.grid-field__item-fieldset {
			display: block;
			position: relative;
			border-bottom: 1px solid var(--ee-border) !important;
      font-size: 1rem;
		}

		td.grid-field__column--tools { display: none !important;}
	}
}

.live-preview__form-content .grid-field,
.grid-field.overwidth {
	.table-responsive {
		overflow-x: hidden;
	}

	.grid-field__table {
		display: flex;

		thead {
			display: none;
		}

		tbody {
			width: 100%;

			tr:not(.hidden) {
				display: flex;
				flex-direction: column;
				width: 100%;
				border-bottom: 3px solid var(--ee-table-border);

				&:last-child {
					border-bottom: none;

					@include m-tablet-down {
						border-bottom-width: 1px;
					}
				}

				td:not(.hidden) {
					width: 100%;
					max-width: 100%;
					display: flex;
					flex-wrap: wrap;
					border-bottom: 1px solid var(--ee-table-border);

					&:last-child {
						border-bottom: none;
					}

					& > *:not(.grid-field__column-label) {
						width: calc(100% - 135px);

						@include m-desktop-down {
							width: calc(100% - 100px);
						}
					}

					.ee-form-error-message {
						margin-left: auto;
					}

					.grid-field__column-label {
						display: block;
						color: var(--ee-text-secondary);
						font-weight: 500;
						white-space: normal;
						border-right: 1px solid var(--ee-table-border);
						margin-right: 15px;
						flex: 0 0 120px;

						@include m-desktop-down {
							flex: 0 0 80px;
						}
					}

					.grid-field__column-tools {
						width: 100%;
						display: flex;
						align-items: center;

						.button {
							margin-bottom: 0;

							&:first-child {
								margin-right: 10px;
							}
						}
					}
				}
			}

			tr.no-results {
				border-bottom: none;
				padding: 0;
			}
		}
	}
} 