// old/not used redactor styles

.redactor-box.redactor-styles-on {
    background: var(--ee-input-bg);
    border: 1px solid var(--ee-input-border);
    color: var(--ee-input-color);
}

.redactor-statusbar {
    background: var(--ee-panel-bg);
}

.redactor-statusbar li {
    color: var(--ee-input-color);
    border-right: 1px solid var(--ee-button-default-border);
}
.redactor-toolbar a,
.redactor-air a {
    color: var(--ee-button-default-color);
    background: var(--ee-panel-bg);
}


/* Redactor */

.re-icon-rte_definedlinks { 
    opacity: 0.75;

    svg {
        fill: var(--ee-button-default-color);
    }
}

.re-icon-filebrowser { 
    content: url('data:image/svg+xml;utf8,<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m1 6c.51283584 0 .93550716.38604019.99327227.88337887l.00672773.11662113v6c0 .4964612.44481521.9373059 1.049825.9938787l.13199318.0061213h5.81818182c.55228475 0 1 .4477153 1 1 0 .5128358-.38604019.9355072-.88337887.9932723l-.11662113.0067277h-5.81818182c-1.67882337 0-3.08194674-1.2331302-3.17671765-2.8277989l-.00510053-.1722011v-6c0-.55228475.44771525-1 1-1zm12.6-6c1.3254834 0 2.4 1.0745166 2.4 2.4v8.2c0 .0812991-.0040424.161654-.0119371.2408747.04537.286293-.0350323.5849432-.229131.8106316-.3901386.7980655-1.2102555 1.3484937-2.1589319 1.3484937h-8.2c-.0093721 0-.01873166-.0000537-.02807838-.0001609l-.37192162.0001604c-.26521649 0-.5195704-.1053563-.70710678-.2928927l.05843073.052268c-.4838201-.2353989-.8766931-.6286113-1.11166129-1.1126794-.19291421-.2239005-.27189946-.5180346-.2277519-.8010756-.00769603-.0805757-.01191076-.1626056-.01191076-.2456198v-8.2c0-1.3254834 1.0745166-2.4 2.4-2.4zm-1.596 8.632-.76.937.839 1.431h1.517c.0486011 0 .0951777-.0086678.1382683-.0245418zm-4.582-1.631-2.176 3.83.169.169h4.349l-.436-.744-.04995732-.0453903c-.12825052-.1334488-.2131256-.2958557-.25256531-.46760617zm6.178-5.001h-8.2c-.2209139 0-.4.1790861-.4.4v4.814l1.53963435-2.70800941c.35805102-.6301698 1.23187816-.67285287 1.65793101-.12170559l.07440231.11030062 1.89203233 3.23141438 1.0987033-1.35538405c.384092-.47423473 1.0895396-.491008 1.4981306-.06381668l.0827862.09833145 1.1563799 1.56386928v-5.569c0-.19329966-.1371128-.35457492-.319386-.39187342z"></path></svg>'); 
    opacity: 0.75;
}

.re-icon-counter { 
    svg {
        fill: var(--ee-button-default-color);
    }
    opacity: 0.75;
}

.re-icon-pages { 
    content: url('data:image/svg+xml;utf8,<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m8 1c3.8659932 0 7 3.13400675 7 7 0 .41562496-.0363345.82696761-.1079778 1.23054987-.004996.04220683-.0132193.08514228-.024399.12800171l-.0016157.01040915c-.0129304.06516346-.0267866.13011227-.0415641.19483161-.0425153.18619829-.134446.34828603-.2587975.47558696-.453219.6877517-1.2540223 1.0606207-2.1002173 1.0606207-.7021902 0-1.3022299-.267223-1.84008-.7870308-.63970759.7277838-1.57889666 1.1870308-2.6253486 1.1870308-1.93299662 0-3.5-1.56700338-3.5-3.5s1.56700338-3.5 3.5-3.5 3.5 1.56700338 3.5 3.5c0 .09852487-.004071.19609891-.0120539.29256309.0832707.05863407.1590104.13364906.2229399.22223279.3278355.45426403.5335836.58520412.7545426.58520412.2433237 0 .4113182-.09466809.4598004-.22373562l-.0506034.24231944c.083034-.36365262.1253744-.73799831.1253744-1.11858382 0-2.76142375-2.2385763-5-5-5-2.76142375 0-5 2.23857625-5 5 0 2.6887547 2.12230671 4.8818181 4.78311038 4.9953805l.21688962.0046195h2c.5522847 0 1 .4477153 1 1 0 .5128358-.3860402.9355072-.8833789.9932723l-.1166211.0067277h-2c-3.86599325 0-7-3.1340068-7-7 0-3.86599325 3.13400675-7 7-7zm0 5.5c-.82842712 0-1.5.67157288-1.5 1.5s.67157288 1.5 1.5 1.5 1.5-.67157288 1.5-1.5-.67157288-1.5-1.5-1.5z"></path></svg>'); 
    opacity: 0.75;
}

.redactor-toolbar a.redactor-button-active .re-icon-rte_definedlinks, 
.redactor-toolbar a.redactor-button-active .re-icon-filebrowser,
.redactor-toolbar a.redactor-button-active .re-icon-counter,
.redactor-toolbar a.redactor-button-active .re-icon-pages,
.redactor-toolbar a.redactor-button-active .re-icon-readmore {
    opacity: 0.4;
}

.redactor-box .redactor-toolbar {
    z-index: 2;
}

.redactor-box .redactor-toolbar.redactor-toolbar-fixed {
    background-color: var(--ee-panel-bg);
}


.re-icon-readmore { background-image:
	url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.598.687h1.5v5h-1.5zm14.5 0h1.5v5h-1.5z"></path><path d="M19.598 4.187v1.5h-16v-1.5zm-16 14.569h1.5v-5h-1.5zm14.5 0h1.5v-5h-1.5z"></path><path d="M19.598 15.256v-1.5h-16v1.5zM5.081 9h6v2h-6zm8 0h6v2h-6zm-9.483 1L0 12.5v-5z"></path></svg>');
    opacity: 0.75;
    background-repeat: no-repeat;
}

.field-control .redactor-in em {
    display: inline;
    margin-top: inherit;
    font-size: inherit;
}

/* clips */
.redactor-clips-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.redactor-clips-list li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
.redactor-clips-list span {
    white-space: nowrap;
    background: rgba(0,125,255, .75);
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
}

/* pages (handle) */
#redactor-handle-list {
    font-family: "Trebuchet MS", 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
    display: none;
    position: absolute;
    z-index: 1053;
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .2);
    border-radius: 2px;
    width: 264px;
    max-height: 250px;
    margin: 0;
    overflow: auto;
    font-size: 14px;
    padding: 0;
}
#redactor-handle-list a {
    display: block;
    text-decoration: none;
    padding: 10px 8px;
    white-space: nowrap;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
#redactor-handle-list a.active,
#redactor-handle-list a:hover {
    color: #fff !important;
    background-color: #449aef !important;
}

/* inlinestyle */
.redactor-dropdown-inline .redactor-dropdown-item-marked span {
	font-size: 14px;
	background-color: #fdb833;
	color: #000;
	text-decoration: none;
}
.redactor-dropdown-inline .redactor-dropdown-item-code span {
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 13px;
	background: rgba(0, 0, 0, .05);
}
.redactor-dropdown-inline .redactor-dropdown-item-variable span {
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 13px;
	color: var(--ee-text-primary);
}
.redactor-dropdown-inline .redactor-dropdown-item-shortcut span {
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	padding: 0.25em;
	white-space: nowrap;
	border: 1px solid #e5e7e9;
}
.redactor-dropdown-inline .redactor-dropdown-item-sup span,
.redactor-dropdown-inline .redactor-dropdown-item-sub span {
	position: relative;
	font-size: 12px;
}
.redactor-dropdown-inline .redactor-dropdown-item-sup span {
	top: -3px;
}
.redactor-dropdown-inline .redactor-dropdown-item-sub span {
	top: 3px;
}

// active: toolbar config ui

/* CKEditor skin overrides */
.rte-toolbar .cke { visibility: visible; }
.rte-toolbar .cke_chrome *,
.rte-toolbar .cke_chrome a:hover,
.rte-toolbar .cke_chrome a:link,
.rte-toolbar .cke_chrome a:visited,
.rte-toolbar .cke_chrome a:active { white-space: normal; }

.rte-toolbar .cke_top { border-bottom: none; overflow: visible; }
.rte-toolbar .cke_top:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
.rte-toolbar .cke_toolbox { min-height: 33px; _height: 28px; }
.rte-toolbar .cke_toolbox { position: relative; z-index: 1; display: flex; flex-wrap: wrap;}

.rte-toolbar .cke_chrome .cke_button:hover,
.rte-toolbar .cke_chrome .cke_button:focus,
.rte-toolbar .cke_chrome .cke_button:active { border-color: transparent !important; background-color: transparent; }

.rte-toolbar .cke_chrome .cke_button:hover.cke_on,
.rte-toolbar .cke_chrome .cke_button:focus.cke_on,
.rte-toolbar .cke_chrome .cke_button:active.cke_on,
.rte-toolbar .cke_chrome .cke_button:hover.cke_off,
.rte-toolbar .cke_chrome .cke_button:focus.cke_off,
.rte-toolbar .cke_chrome .cke_button:active.cke_off,
.rte-toolbar .cke_chrome .cke_rcombo .cke_off a:hover .cke_text,
.rte-toolbar .cke_chrome .cke_rcombo .cke_off a:focus .cke_text,
.rte-toolbar .cke_chrome .cke_rcombo .cke_off a:active .cke_text,
.rte-toolbar .cke_chrome .cke_rcombo .cke_on .cke_text { opacity: 0.7; }

/* grab cursors */
.rte-toolbar .cke_chrome .cke_toolgroup,
.rte-toolbar .cke_chrome .cke_toolgroup *,
.rte-toolbar .cke_chrome .cke_rcombo a,
.rte-toolbar .cke_chrome .cke_rcombo a * { cursor: move; cursor: -webkit-grab; cursor: -moz-grab; }

.rte-toolbar .cke_chrome .cke_button a { margin: -2px 0; padding: 4px; }

body.tb-dragging * { cursor: -webkit-grabbing !important; }

/* selections */
.rte-toolbar #tb-selections { margin: 15px 5px 0; }

.rte-toolbar #tb-selections .disabled .cke_button_icon { opacity: 0.2; }

.cke_reset {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
    box-sizing: content-box;
    position: static;
    transition: none;
}

.cke_inner {
    display: block;
    border-radius: 2px;
    -webkit-touch-callout: none;
    background: var(--ee-panel-bg);
    padding: 0;
}

.cke_chrome {
    visibility: inherit;
}
.cke_chrome {
    display: block;
    border: 1px solid #8195a0;
    border-radius: 3px;
    padding: 0;
}

.cke_top {
    border-bottom: 1px dotted #d5d5d5;
    padding-top: 5px;
    white-space: normal;
}
.cke_top, .cke_bottom {
    margin: 0 5px;
}
.cke_top, .cke_contents, .cke_bottom {
    display: block;
    overflow: hidden;
}

.cke_toolbar {
    float: left;
    margin: 0 5px 5px 0;
    padding-right: 5px;
    border-right: 1px dotted var(--ee-panel-border);
}

.cke_toolgroup {
    float: left;
}

.cke_ltr .cke_button:first-child, .cke_rtl .cke_button:last-child {
    border-radius: 2px 0 0 2px;
}

a.cke_button {
    display: inline-block;
    height: 18px;
    padding: 4px;
    outline: 0;
    cursor: default;
    float: left;
    border: 0;
}

.cke_button_icon {
    cursor: inherit;
    background-repeat: no-repeat;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    float: left;
    display: inline-block;
    opacity: .8;
}

.cke_button_label {
    display: none;
    padding-left: 3px;
    margin-top: 1px;
    line-height: 17px;
    vertical-align: middle;
    float: left;
    cursor: default;
    color: #474747;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.cke_button_icon {
    color: var(--ee-button-default-color);
    position: relative;

    svg {
        fill: var(--ee-button-default-color);
    }
}

// active: ckeditor

/* CKEditor stuff */

div.Rte {
    margin-bottom: 10px;
}
textarea.cke_source{
    max-height: none;
}
iframe.Rte {
    border: 1px solid #bbb; 
    width: 100%; 
    background: #fff;
    opacity: 0.7; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    border-radius: 2px; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
}
iframe.Rte:hover {
    opacity: 1; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);
}
.ck-content ol li {
    list-style-position: inside;
}
.ck.ck-reset_all .ck-mentions .mention-extra {
    color: #666;
}

.ck.ck-editor__main>.ck-editor__editable {
    color: var(--ck-color-base-text);
}

.ck.ck-editor__main>.ck-editor__editable h2, .ck.ck-editor__main>.ck-editor__editable h3, .ck.ck-editor__main>.ck-editor__editable h4, .ck.ck-editor__main>.ck-editor__editable p, .ck.ck-editor__main>.ck-editor__editable li, .ck.ck-editor__main>.ck-editor__editable ul, .ck.ck-editor__main>.ck-editor__editable ol {
    color: revert;
    text-transform: revert;
    font-size: revert;
    border: none;
    letter-spacing: revert;
    margin: revert;
    padding: revert;
}

.ck.ck-editor__main>.ck-editor__editable table, .ck.ck-editor__main>.ck-editor__editable td {
    font-size: revert;
    color: revert;
    background: revert;
}

.ck-content hr {
    height: 0;
}


/*
 * CKEditor example styles
 * https://ckeditor.com/docs/ckeditor5/latest/assets/snippet-styles.css
 * Copyright (c) 2003-2020, CKSource - Frederico Knabben. All rights reserved.
 */

.ck.ck-editor {
	margin: 1.5em 0;
}

.ck.ck-content {
	padding: 1em;
}

.ck.ck-content > :first-child {
	margin-top: 0;
}

.ck.ck-content > :last-child {
	margin-bottom: 0;
}


/* By default Umberto uses a trick with non breaking spaces around <code> to fix space rendering.
It breaks CKEditor 5 (see how <p><code>[]</code></p> looks). */
.ck.ck-content code:before,
.ck.ck-content code:after {
	content: '' !important;
	letter-spacing: 0 !important;
	display: none !important; /* Firefox is very stubborn. */
}

/* Restore default browser styles for <sub> and <sup>. */

.ck.ck-list {
	/* See https://github.com/ckeditor/ckeditor5/issues/494 */
	margin-left: 0;
    background: var(--ee-button-default-bg) !important;
}

.ck.ck-list__item .ck-button.ck-on:not(.ck-switchbutton) {
    background: var(--ee-accent-light) !important;
}

.ck.ck-list__item .ck-button.ck-on.ck-switchbutton {
    background: transparent !important;
}

.ck.ck-button__label {
    color: var(--ee-button-default-color) !important;
}

/* Umberto stylesheet is centering `<img>` inside a `<p>`, let's overwrite it with higher CSS Specificity.
 * See: https://github.com/ckeditor/ckeditor5/issues/2080.
 */
 .ck.ck-editor__main>.ck-editor__editable p img {
	display: initial;
	margin: initial;
	box-sizing: initial;
}

.ck.ck-editor__main>.ck-editor__editable .image img {
	margin: 0 auto;
}

.ck.ck-editor__main>.ck-editor__editable blockquote p:first-of-type {
	margin-bottom: 1.5rem;
}

/* https://github.com/ckeditor/ckeditor5/issues/896 */
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content h2,
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content h3,
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content h4 {
	position: static;
}

/* https://github.com/ckeditor/ckeditor5/issues/899 */
.ck.ck-editor__main>.ck-editor__editable .ck-dropdown .ck.ck-list {
	margin: 0;
	padding: 0;
}

/* https://github.com/ckeditor/ckeditor5/pull/1060 */
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table table {
	margin: 0;
	display: table;
}

/* https://github.com/ckeditor/ckeditor5/issues/7310 */
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table td,
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table th {
	vertical-align: middle;
}

/* https://github.com/ckeditor/ckeditor5/issues/1282 */
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table p:first-child {
	padding-top: 0;
}

/* https://github.com/ckeditor/ckeditor5/issues/1282 */
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table p:last-child,
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table ul:last-child,
.ck.ck-editor__main>.ck-editor__editable .ck.ck-content .table ol:last-child {
	margin-bottom: 0;
}

.ck.ck-editor__main>.ck-editor__editable {
  color: var(--ee-input-color) !important;
  background: var(--ee-input-bg) !important;
  border-color: var(--ee-input-border) !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border-color: var(--ee-input-border) !important;
}

.ck.ck-toolbar,
.ck.ck-reset_all {
    border-color: var(--ee-input-border) !important;
    color: var(--ee-button-default-color) !important;
    background: var(--ee-panel-bg) !important;
}

.ck.ck-button:not(.ck-disabled),
a.ck.ck-button:not(.ck-disabled) {
  color: var(--ee-button-default-color) !important;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover,
.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
  color: var(--ck-color-text) !important;
}

.ck.ck-editor__main>.ck-editor__editable li .ck-list-bogus-paragraph {
    display: inline-block;
}

.ck-widget.raw-html-embed {
    background-color: var(--ee-button-default-bg) !important;
    color: var(--ee-button-default-color) !important;
}

.ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected.ck-widget_with-selection-handle>.ck-widget__selection-handle {
    background: var(--ee-button-default-bg) !important;
    color: var(--ee-button-default-color) !important;
}

.ck.ck-input-text,
.ck.ck-dropdown__panel,
.ck.ck-balloon-panel {
    background: var(--ee-button-default-bg) !important;
    color: var(--ee-button-default-color) !important;
    border-color: var(--ee-list-item-border) !important;
    z-index: 2000 !important;
}

.ck.ck-label {
    z-index: 2001 !important;
}

.ck.ck-balloon-panel[class*=arrow_n]:before {
    border-color: transparent transparent var(--ee-list-item-border) !important;
}

.ck.ck-balloon-panel[class*=arrow_n]:after{
    border-color: transparent transparent var(--ee-button-default-bg) transparent !important;
}

.ck.ck-balloon-panel[class*=arrow_s]:before {
    border-color: var(--ee-list-item-border) transparent transparent !important;
}

.ck.ck-balloon-panel[class*=arrow_s]:after {
    border-color: var(--ee-button-default-bg) transparent transparent transparent!important;
}

.ck.ck-link-form_layout-vertical .ck-button {
    border-top: 1px solid var(--ee-border-dark) !important;
}

.ck.ck-button.ck-button-save,
a.ck.ck-button.ck-button-save {
    color: var(--ck-color-button-save) !important;
}

.ck.ck-button.ck-button-cancel,
a.ck.ck-button.ck-button-cancel {
    color: var(--ck-color-button-cancel) !important;
}

.ck.ck-link-form_layout-vertical .ck-button:hover {
    color: var(--ee-button-default-color) !important;
}

.ck-vertical-form>.ck-button:nth-last-child(2):after {
    border-right: 1px solid var(--ee-border-dark) !important;
}

.ck.ck-dropdown__panel .ck-insert-table-dropdown__label,
.ck.ck-labeled-field-view .ck-labeled-field-view__status {
    color: var(--ee-button-default-color) !important;
}
.ck.ck-dropdown__panel {
    border-color: var(--ee-list-item-border) !important;
}

.ck.ck-tooltip {
    color: var(--ee-text-secondary) !important;
    background: var(--ee-bg-neutral-dark) !important;
}

.ck.ck-dropdown:not(.ck-disabled):hover,
.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: var(--ee-bg-5) !important;
}

.ck.ck-splitbutton.ck-splitbutton_open>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover),
.ck.ck-splitbutton:hover>.ck-button:not(.ck-on):not(.ck-disabled):not(:hover) {
    background: var(--ee-button-default-bg) !important;
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background: var(--ee-bg-5) !important;
}

.ck.ck-button.ck-switchbutton .ck-button__toggle {
    background: var(--ee-input-toggle-bg) !important;
}

.ck.ck-button.ck-switchbutton .ck-button__toggle .ck-button__toggle__inner {
    background: var(--ee-input-toggle-fg) !important;
}

.ck.ck-button.ck-switchbutton.ck-on .ck-button__toggle {
    background: var(--ee-input-toggle-active-bg) !important;
}

.ck-balloon-rotator__content .ck.ck-list__item .ck-button.ck-on {
    background: var(--ee-brand-primary) !important;
}

.ck-dropdown__panel .ck.ck-list__item .ck-button.ck-on {
    background: var(--ee-brand-primary) !important;
    color: var(--ee-button-primary-color) !important;
}

.ck-dropdown__panel .ck.ck-list__item .ck-button.ck-on .ck-button__label {
    color: var(--ee-button-primary-color) !important;
}

.ck-balloon-rotator__content .ck.ck-list__item .ck-button.ck-on.ck-switchbutton {
    background: transparent !important;
}

.ck.ck-find-and-replace-form__actions .ck-button-find {
    color: var(--ee-button-secondary-color) !important;
    background-color: var(--ee-button-secondary-bg);
    border-color: var(--ee-button-secondary-border);
    font-weight: normal;
    cursor: pointer;
}

.ck.ck-find-and-replace-form__actions .ck-button-find span {
   color: var(--ee-button-secondary-color) !important;
}

.ck.ck-find-and-replace-form__actions .ck-button-find:hover {
    color: var(--ee-button-secondary-color) !important;
    background-color: var(--ee-button-secondary-hover-bg) !important;
    border-color: var(--ee-button-secondary-hover-border) !important;
}

.ck.ck-dialog {
  background: var(--ee-button-default-bg) !important;
  color: var(--ee-button-default-color) !important;
  border-color: var(--ee-list-item-border) !important;
}

.ck.ck-dialog h2 {
  color: var(--ee-button-default-color) !important;
}

.ck.ck-find-and-replace-form__actions {
  margin-top: 10px !important;
}

.ck.ck-labeled-field-view .ck-labeled-field-view__status.ck-labeled-field-view__status_error {
    color: var(--ee-error) !important;
}



.ck.ck-balloon-panel.ck-powered-by-balloon .ck-powered-by:hover {
  filter: grayscale(1);
}

.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by a {
  padding: 1px;
}

.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by .ck-powered-by__label {
  color: var(--ee-text-secondary);
  opacity: 0.5;
  font-size: 6px;
}

.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by .ck-icon {
  color: var(--ee-text-secondary);
  opacity: 0.3;
}

.ck.ck-widget__resizer {
    background: transparent !important;
}


.ck-content ul {
    list-style: none !important;

    li {
        position: relative;
        padding-left: 15px !important;

        &:before {
            position: absolute;
            width: 4px;
            display: inline-block;
            content: '';
            height: 4px;
            background: var(--ee-input-color);
            border-radius: 50%;
            left: 0;
            top: 10px;
        }
    }
}

.ck-content ol {
    counter-reset: item;
    list-style: none !important;
    
    li {
        counter-increment: item;
        position: relative;
        padding-left: 20px !important;

        &::marker {
            content: none;
        }

        &:before {
            content: counter(item) ".";
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
        }
    }
}

// active: redactorx

/* redactorX */

.rx-container {
    border: 1px solid var(--ee-dropdown-border) !important;
    background: var(--ee-bg-dropdown) !important;

    .rx-toolbar-container {
        z-index: 6;
        border-bottom: 1px solid var(--ee-dropdown-border) !important;
        background: var(--ee-bg-dropdown) !important;
    }
    .re-icon-readmore {
        width: 100%;
        background-position: center;
    }

    .rx-statusbar-container {
        .rx-statusbar {
            background: var(--ee-bg-0);
            .rx-statusbar-item {
                border-right: 1px solid var(--ee-table-border);
                color: var(--ee-text-secondary);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    em {
        font-size: initial;
        display: initial;
    }
}

/* Do not show the page break element inside the print preview window. */
@media print {
	.redactor-in .readmore,
    .redactor-styles .readmore,
    .rx-content .readmore,
    .rx-editor-container .readmore {
		padding: 0;

		&::after {
			display: none;
		}
	}
}


.rx-toolbar,
.rx-topbar,
.rx-extrabar {
    .rx-button-toolbar,
    .rx-button-topbar,
    .rx-button-extrabar {
        color: var(--ee-text-primary);

        svg {
            fill: var(--ee-text-primary) !important;
        }

        &:hover,
        &.pressed {
            background: var(--ee-bg-dropdown-hover);
            color: var(--ee-text-primary);

            svg {
                fill: var(--ee-text-primary);
            }
        }

        &.disable {
            opacity: 0.4 !important;
            color: var(--ee-text-primary) !important;

            svg {
                fill: var(--ee-text-primary)  !important;
            }

            .rx-button-icon {
                color: var(--ee-text-primary) !important;
            }

            &:hover {
                opacity: 0.4 !important;
                color: var(--ee-text-primary) !important;

                svg {
                    fill: var(--ee-text-primary) !important;
                }
            }
        }

        &.active,
        &.toggled {
            background-color: transparent;
            color: inherit;

            .rx-button-icon {
                border-color: var(--ee-dropdown-border);
                background-color: var(--ee-bg-dropdown-hover);

                svg {
                    fill: var(--ee-text-primary);
                }
            }
        }

        .re-icon-readmore {
            background: none;
            opacity: 1;
            width: auto;
            text-align: center;
        }
    }
}

.rx-popup {
    background-color: var(--ee-bg-dropdown) !important;
    color: var(--ee-text-primary);
    box-shadow: 0 1px 4px 0 var(--ee-shadow-dropdown) !important;
    z-index: 1000 !important;

    .rx-popup-header {
        color: var(--ee-text-primary);

        .rx-popup-header-item {
            color: var(--ee-text-primary);
        }

        .rx-popup-close {
            &:before,
            &:after {
                background-color: var(--ee-text-primary);
            }
        }
    }

    .rx-popup-items {
        .rx-popup-item-container {
            .rx-popup-item-title {
                color: var(--ee-text-primary);
            }
            &:hover {
                background-color: var(--ee-bg-dropdown-hover);
            }
        }

        .rx-popup-item{
            color: var(--ee-text-primary);
            border-color: var(--ee-dropdown-border);

            svg {
                fill: var(--ee-text-primary);
            }


            .rx-popup-item-shortcut {
                color: var(--ee-text-primary);
                opacity: 0.5;
            }

            .rx-popup-shortcut-title {
                color: var(--ee-text-primary);
            }

            &.active {
                color: var(--ee-text-primary);

                span {
                    color: var(--ee-text-primary) !important;
                }
            }

            &:hover {
                background-color: var(--ee-bg-dropdown-hover);
            }
        }
    }

    .rx-form-item {
        .rx-form-label {
            color: var(--ee-text-primary);
        }

        .rx-form-segment {
            background-color: var(--ee-bg-dropdown-hover);

            .rx-form-segment-item {
                color: var(--ee-text-primary);
                opacity: 0.6;

                &.active {
                    opacity: 1;
                    background: var(--ee-bg-dropdown);
                    box-shadow: 0 1px 3px var(--ee-shadow-dropdown), 0 1px 2px var(--ee-shadow-dropdown);
                }

                &:hover {
                    background-color: var(--ee-dropdown-border);
                    opacity: 1;
                }
            }
        }

        .rx-form-checkbox-item {
            span {
                color: var(--ee-text-primary)
            }
        }

        .rx-form-textarea {
            border: 1px solid var(--ee-input-border);
            box-shadow: 0 1px 2px 0 var(--ee-shadow-input);
            background-color: var(--ee-input-bg);
            color: var(--ee-input-color);
        }
    }

    .rx-popup-body {
        .rx-form-input {
            color: var(--ee-input-color);
            background-color: var(--ee-input-bg);
            border: 1px solid var(--ee-input-border);
        }
    }

    .rx-form-button {
        color: var(--ee-button-danger-color);
        background-color: var(--ee-button-danger-bg);
        border-color: var(--ee-button-danger-border);

        &:hover {
            color: var(--ee-button-danger-color);
            background-color: var(--ee-button-danger-hover-bg);
            border-color: var(--ee-button-danger-hover-border);
        }

        &.rx-form-button-primary {
            color: var(--ee-button-primary-color);
            background-color: var(--ee-button-primary-bg);
            border-color: var(--ee-button-primary-border);

            &:hover {
                color: var(--ee-button-primary-color);
                background-color: var(--ee-button-primary-hover-bg);
                border-color: var(--ee-button-primary-hover-border);
            }
        }
    }
}

.rx-editor-container {
    .rx-content {
        blockquote {
            color: var(--ee-text-primary);

            p, cite {
                color: inherit;
            }
        }

        table {
            td, th {
                border-color: var(--ee-dropdown-border);
            }

            tr:last-child td {
                border-bottom: 1px solid var(--ee-dropdown-border);
            }
        }

        code, kbd, samp, var {
            color: var(--ee-text-primary);
        }

        code {
            background-color: var(--ee-text-primary);
            color: var(--ee-bg-dropdown);
        }

        mark {
            background-color: var(--ee-brand-warning);
        }

        kbd {
            border-color: var(--ee-dropdown-border);
        }
    }
}

.rx-dropdown[data-name="link"] {
    background-color: var(--ee-bg-dropdown) !important;
    color: var(--ee-text-primary);
    box-shadow: 0 1px 4px 0 var(--ee-shadow-dropdown) !important;
    z-index: 1000 !important;

    .rx-form { padding: 0 !important;}

    .rx-dropdown-items {
        padding: 0;

        .rx-form-item {
            padding: 16px 16px 0 16px;
        }

        .rx-form-input {
            color: var(--ee-input-color);
            background-color: var(--ee-input-bg);
            border: 1px solid var(--ee-input-border);
        }

        .rx-form-flex { display: block; padding-bottom: 16px;}

        .rx-form-button.rx-form-button-primary {
            font-weight: 700;
            font-size: 14px;
            padding: 8px 24px;
        }
    }
}

.rx-container {
    .rx-toolbar-container {
        border-color: var(--ee-input-border);
    }
}

.field-control {
    .rx-content {
        background: var(--ee-input-bg);

        h2[data-rx-type='heading'] {
            font-size: 1.728em;
            color: var(--ee-text-primary);
            margin: 0;
            padding: 0;
            margin-bottom: 0.5em;
            border-bottom: 0;
        }
    }
}

.rx-editor [data-rx-type=todoitem] input {
    border: none;
    background: transparent;
}

// active: shared content styles

.redactor-styles {
    color: var(--ee-input-color);
} 

/* readmore */
.redactor-in .readmore,
.redactor-styles .readmore,
.rx-content .readmore,
.rx-editor-container .readmore {
	position: relative;
	clear: both;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		position: absolute;
		border-bottom: 2px dashed hsl(0, 0%, 77%);
		width: 100%;
	}
}

.redactor-in .readmore__label,
.redactor-styles .readmore__label,
.rx-content .readmore__label,
.rx-editor-container .readmore__label {
	position: relative;
	z-index: 1;
	padding: .3em .6em;
	display: block;
	text-transform: uppercase;
	border: 1px solid hsl(0, 0%, 77%);
	border-radius: 2px;
	font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
	font-size: 0.75em;
	font-weight: bold;
	color: hsl(0, 0%, 20%);
	background: hsl(0, 0%, 100%);
	box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);

	/* Disable the possibility to select the label text by the user. */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.field-control {
    .redactor-styles,
    .rx-content,
    .ck-content {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            color: var(--ee-text-primary);
            text-rendering: optimizeLegibility;
            margin: 0;
            padding: 0;
            margin-bottom: 0.5em;
            line-height: 1.2;
            font-family: -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
        }

        h1 {
            font-size: 2.0736em;
        }

        h2 {
            font-size: 1.728em;
        }

        h3 {
            font-size: 1.44em;
        }

        h4 {
            font-size: 1.2em;
        }

        h5 {
            font-size: 1em;
        }

        h6 {
            font-size: .83333em;
            text-transform: uppercase;
            letter-spacing: .035em;
        }

        p {
            line-height: 1.5;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 1em;
            color: var(--ee-text-normal);
        }

        a {
            color: var(--ee-link);
            cursor: pointer;

            &:hover {
                color: var(--ee-link-hover);
            }
        }

        ol, ul {
            padding: 0;
            margin: 0 0 0 1.5em;

            li {
                font-size: 16px;
                line-height: 1.5;
                color: var(--ee-text-primary);
            }
        }

        blockquote {
            font-style: italic;
            color: var(--ee-text-primary);
            opacity: 0.5;
            border-left: 3px solid var(--ee-text-primary);
        }

        table {
            border-collapse: collapse;
            max-width: 100%;
            width: 100%;

            caption {
                text-transform: uppercase;
                padding: 0;
                color: rgba(0, 0, 0, 0.5);
                font-size: 11px;
            }

            td, th {
                border: 1px solid var(--ee-dropdown-border);
                padding: 16px;
                padding-bottom: 15px;
            }

            tfoot td, tfoot th {
                color: rgba(0, 0, 0, 0.5);
            }
        }

        audio, embed, img, object, video {
            max-width: 100%;
        }

        embed, img, object, video {
            height: auto !important;
        }

        img {
            vertical-align: middle;
            -ms-interpolation-mode: bicubic;
        }

        figcaption {
            display: block;
            opacity: 0.6;
            font-size: 12px;
            font-style: italic;
            text-align: left;
        }

        address {
            font-style: normal;
        }

        code, kbd, mark, small, time, var {
            display: inline-block;
            font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
            font-size: 87.5%;
            line-height: 1;
            color: var(--ee-text-primary);
        }

        cite, var {
            opacity: 0.6;
        }

        var {
            font-style: normal;
        }

        abbr, dfn {
            text-transform: uppercase;
        }

        abbr[title], dfn[title] {
            text-decoration: none;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
            cursor: help;
        }

        code, kbd {
            position: relative;
            top: -1px;
            padding: 0.25em;
            padding-bottom: 0.2em;
            border-radius: 2px;
        }

        code {
            background-color: var(--ee-panel-bg);
        }

        mark {
            border-radius: 2px;
            padding: 0.125em 0.25em;
            background-color: #fdb833;
        }

        kbd {
            border: 1px solid var(--ee-dropdown-border);
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }

        pre {
            font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
            font-size: 0.9em;
        }

        pre, pre code {
            background-color: var(--ee-bg-5);
            padding: 0;
            top: 0;
            display: block;
            line-height: 1.5;
            color: var(--ee-text-primary);
            overflow: none;
            white-space: pre-wrap;
        }

        pre {
            padding: 1rem;
        }

        code {
            background-color: var(--ee-bg-5);
            padding: 0;
            top: 0;
            display: block;
            line-height: 1.5;
            color: var(--ee-text-primary);
            overflow: none;
            white-space: pre-wrap;
            padding: 1rem;
        }
    }
}

.rx-option-list {
    .rx-option-item {
        &:not(.passive):hover {
            background: var(--ee-bg-dropdown-hover);
        }

        .rx-option-label {
            margin-bottom: 0;
        }
    }
}