.simple-list {
	list-style-type: none;
	// font-size: 0.9rem;

	li {
		// margin-bottom: $s-xs;
		padding: $s-s 0;
		border-bottom: 1px solid color(border);

		&:last-child {
			border-bottom: none;
		}

		> a {
			display: flex;
      align-items: center;
      word-break: break-word;
		}
	}
}

.simple-list-wrapper {

	.simple-item{
		display: flex;
		align-items: start;
		padding: 5px 15px;
		border: 2px solid var(--ee-border);
		margin-bottom: 10px;
		border-radius: 8px;
	}

	.avatar-icon {
		width: 45px;
		height: 45px;
		margin-top: 10px;
	}

	.meta-details {
		color: var(--ee-text-secondary);
	}

	.meta-info {
		text-align: left;
	}
}