.simple-list {
	list-style-type: none;
	// font-size: 0.9rem;

	li {
		// margin-bottom: $s-xs;
		padding: $s-s 0;
		border-bottom: 1px solid color(border);

		&:last-child {
			border-bottom: none;
		}

		> a {
			display: flex;
      align-items: center;
      word-break: break-word;
		}
	}
}

.simple-list-wrapper {

	h3 {
		font-size: 1.1em;
	}

	.simple-item {
		display: flex;
		align-items: start;
		padding: 5px 15px;
		border: 1px solid var(--ee-border);
		margin-bottom: 10px;
		border-radius: 8px;
		background: var(--ee-bg-blank);
		box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	}

	.avatar-icon {
		width: 45px;
		height: 45px;
		margin-top: 10px;
	}

	.simple-item-info {
		width: 100%;
	}

	.meta-details {
		color: var(--ee-text-secondary);
		font-size: 80%;
	}

	.meta-info {
		text-align: left;
		min-width: unset;
		font-size: inherit;
		text-transform: none;
		margin-left: 0;
		letter-spacing: normal;
		width: 100%;
		font-size: 80%;
	}
}
