.simple-list-wrapper {

	h3 {
		font-size: 1.05em;
		margin-bottom: 5px;
	}

	.simple-item {
		a {
			align-items: start;
			padding: 5px 15px 8px 15px;
			background: var(--ee-bg-blank);
			border-bottom: 1px solid var(--ee-border);

			&:hover {
				color: inherit;
				background: var(--ee-sidebar-bg-active);
			}
		}
	}

	.avatar-icon {
		width: 40px;
		height: 40px;
		margin-top: 5px;
	}

	.simple-item-info {
		width: 100%;
	}

	.meta-details {
		color: var(--ee-text-secondary);
		font-size: 80%;
	}

	.meta-info {
		text-align: right;
		min-width: unset;
		text-transform: none;
		margin-left: 0;
		width: 100%;
		font-size: 80%;
		letter-spacing: normal;

		span {
			letter-spacing: 1px;
		}

	}

	.simple-item-info-secondary {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.member-widget {
	padding: 0;
	border: none;

	.widget__title-bar {
		margin: 0;
	}
}