@use 'sass:math';

@import "legacy/_legacy-colors";
@import 'abstracts/_space';
@import "abstracts/_variables";
@import 'abstracts/_theme';
@import 'themes/_theme-light-default';
@import 'themes/_theme-dark-default';
@import 'abstracts/_theme-helpers';
@import 'abstracts/_mixins';

@import 'vendor/fontawesome/scss/_fontawesome';
@import 'vendor/fontawesome/scss/_solid';

// TODO: These styles overwrite sites that are also using highlight js.
@import 'vendor/_hljs-theme';

@import 'components/_debugger';
