@use 'sass:math';

// Abstracts - global variables, mixins, and functions
// -------------------------------------------------------------------

@import "legacy/_legacy-colors";
@import 'abstracts/_space';
@import "abstracts/_variables";
// @import 'abstracts/_theme';
@import 'themes/_theme-light-snow';
@import 'themes/_theme-light-default';
@import 'themes/_theme-dark-default';
@import 'themes/_theme-light-pink';
@import 'abstracts/_theme-helpers';
@import 'abstracts/_mixins';


// Vendor - third party plugins & fonts
// -------------------------------------------------------------------

@import 'vendor/fontawesome/scss/fontawesome';
@import 'vendor/fontawesome/scss/light';
@import 'vendor/fontawesome/scss/brands';

@import 'vendor/_codemirror';
@import 'vendor/_codemirror-custom';
@import 'vendor/_codemirror-theme';

@import 'vendor/_hljs-theme';

@import 'vendor/_ui-resize';

@import 'vendor/_markItUp';

@import 'vendor/_ui-range';


// Base - unclassified HTML elements
// -------------------------------------------------------------------

@import 'base/_modern-normalize';

@import "base/_block";
@import "base/_inputs";
@import "base/_table";
@import 'base/_typography';

// Components - UI patterns
// -------------------------------------------------------------------

@import 'components/_alerts';
@import 'components/_button-groups';
@import 'components/_buttons';
@import 'components/_main-nav';
@import 'components/_modals';
@import 'components/_jump-menu';
@import 'components/_sidebar';
@import 'components/_main-header';
@import 'components/_file-card';
@import 'components/_title-bar';
@import 'components/_filter-bar';
@import 'components/_tab-bar';
@import 'components/_breadcrumb';
@import 'components/_dropdown';
@import 'components/_colorpicker';
@import 'components/_bulk-action-bar';
@import 'components/_app-about';
@import 'components/_dashboard';
@import 'components/_widget';
@import 'components/_toggle';
@import 'components/_checkboxes-and-radios';
@import 'components/fieldsets';
@import 'components/_note-field';
@import 'components/_file-field';
@import 'components/_installer';
@import 'components/_list';
@import 'components/_file-preview-modal';
@import 'components/_add-on-card';
@import 'components/_grid-field';
@import 'components/_select';
@import 'components/_select-popup';
@import 'components/_debugger';
@import 'components/_layout-item';
@import 'components/_code-example';
@import 'components/_dialog';
@import 'components/_panels';
@import 'components/_progress-bar';
@import 'components/_rte';
@import 'components/_color-drop';
@import 'components/_list-group';
@import 'components/_fluid';
@import 'components/_no-results';
@import 'components/_avatar-icon';
@import 'components/_simple-list';
@import 'components/_pagination';
@import 'components/_badge';
@import 'components/_search-input';
@import 'components/_live-preview';
@import 'components/_image-editor';
@import 'components/_input-groups';
@import 'components/_promo-banner';
@import 'components/_add-on-overrides';
@import 'components/_conditional-logic';

@import 'legacy/_legacy';
@import 'legacy/_app-about-info';
@import 'legacy/_app-overlay';
@import 'legacy/_status-tag';
@import 'legacy/_icons';
@import 'legacy/_has-sub';
@import 'legacy/_toolbar';
@import 'legacy/_field-file-upload';
@import 'legacy/_date-picker';
@import 'legacy/_table-list';
@import 'legacy/_paginate';
@import 'legacy/_filters';
@import 'legacy/_tabs';
@import 'legacy/_key-value-item';
@import 'legacy/_w-hat';
@import 'legacy/_fields-grid-setup';

// Specifics - Components that are only used once
// -------------------------------------------------------------------

@import 'layout/_cp-layout.scss';
@import 'layout/_sidebar';
@import 'layout/_four-o-four';
@import 'layout/_login';
@import 'layout/_pro';


// Utilities - ultra specific overrides
// -------------------------------------------------------------------

@import '_utilities';
