// Styles for new File Manager 
.f_manager-wrapper {
  .app-listing__row:last-child {
    td {
      border-bottom: 1px solid var(--ee-border);
    }
  }

  .filter-search-bar {
    .filter-search-bar__search-row {
      .filter-search-bar__item {
        &:first-child {
          flex-grow: 0;
        }

        &:nth-child(2) {
          flex-grow: 1;

          .field-control {
            width: 100%;
          }
        }
      }

      &:last-child {
        @media only screen and (max-width: $tablet-width) {
          flex-wrap: wrap;

          .filter-search-bar__item {
            &:first-child {
              width: 100%;
              margin-bottom: 10px;
              order: 3;
            }
          }
        }
      }
    }
  }

  .no-results {
    [data-file-field-react] {

      .dropdown__link {
        padding: 7px 20px !important;
        margin-left: 0;
        background-color: transparent;
        border: none;
        line-height: 2;
        text-align: left;

        &:hover {
          background-color: var(--ee-bg-dropdown-hover);
        }
      }
    }
  }

  .create_new_direction {
    a {
      color: var(--ee-button-secondary-color);
    }
  }

  td.checkbox-column {
    width: 55px;
  }

  tr.app-listing__row {
    .thumbnail_img {
      max-width: 80px;
    }

    i.fas {
      color: var(--ee-secondary-sidebar-item-icon);
    }
  }

  .dropdown {
    a.edit,
    a.download,
    a.link {
      &:before { display: none;}
    }
  }

  th.app-listing__header {
    input[type="checkbox"].intermediate {
      &:after {
        opacity: 1;
        content: fa-content($fa-var-minus);
        color: var(--ee-accent) !important;
      }

      &:checked, &.checkbox--checked {
        &:after {
          color: #fff !important;
          content: fa-content($fa-var-check);
        }
      }
    }
  }
}

.f_manager-table-breadcrumbs {
  .breadcrumb {
    padding: 10px 20px;
    border-bottom: 1px solid var(--ee-table-border);

    li {
      a, span {
        border-radius: 0;
        text-transform: capitalize;
        padding: 5px;

        i {
          margin-right: 5px;
        }
      }

      a:hover {
        background-color: transparent;
      }

      &:after {
        content: '/';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}

.f_manager-action-part {
  display: flex;
  flex-wrap: wrap;

  .pagination {
    border-top: none;
    margin-left: auto;

    .filter-bar__item {
      margin-bottom: 0;
    }
  }
}


.file-upload-progress__main-wrapper {
  display: none;
}

.file-upload-progress__wrapper {
  padding: 10px 25px 20px;
  margin-bottom: -1px;
  border-bottom: 1px solid var(--ee-panel-border);


  label {
    font-weight: normal;
    font-size: 13px;
    color: var(--ee-text-secondary);
    margin-bottom: 7px;
  }
}

.file-grid__checkAll {
  margin-bottom: 10px;
  margin-top: -7px;

  input[type="checkbox"].intermediate {
    &:after {
      opacity: 1;
      content: fa-content($fa-var-minus);
      color: var(--ee-accent) !important;
    }

    &:checked, &.checkbox--checked {
      &:after {
        color: #fff !important;
        content: fa-content($fa-var-check);
      }
    }
  }
}

.file-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  /* Additional class for larger thumbnails: */
  &.file-grid__wrapper-large {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }


  .file-grid__file {
    text-align: center;
    font-size: 13px;
    color: var(--ee-text-normal);
    border-radius: 8px;
    border: 1px solid transparent;
    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;


    &:hover,
    &.selected {
      background-color: var(--ee-accent-light);
      color: var(--ee-text-normal);
    }

    &.selected {
      border: 1px solid var(--ee-accent-medium);
    }
  }

  .file-thumbnail__wrapper {
    height: 0;
    padding: 10px;
    padding-top: calc(100% - 10px);
    position: relative;
  }

  .file-thumbnail {
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 88%;
    width: 88%;

    img,
    svg,
    i.fas {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
    }

    i.fas {
      color: var(--ee-secondary-sidebar-item-icon);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  /* This colors the grid SVG thumbnails for folders and documents: */
  .file-grid__file-folder,
  .file-grid__file-document {
    .file-thumbnail {
      color: var(--ee-accent);
    }
  }

  .file-metadata__wrapper {
    padding: 0 19% 10px;
    padding-right: calc(19% - 21px);
    margin-top: -2%;
    position: relative;
    text-align: left;

    label {
      padding: 8px;
      position: absolute;
      top: -4px;
      left: calc(19% - 30px);
      line-height: 0;
      cursor: pointer;
    }

    span {
      color: var(--ee-text-secondary);
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-of-type {
        color: var(--ee-text-normal);
        font-size: 14px;
      }
    }
  }

  .file-grid__file-folder {
    .file-metadata__wrapper {
      padding-left: calc(19% - 21px);
    }
  }
}

.f_metadata-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 20px;
  background: var(--ee-bg-0);
  margin-bottom: 20px;

  .f_metadata-item {
    margin-bottom: 10px;

    span {
      display: block;
      color: var(--ee-text-normal);
    }
  }

  .f_meta-name {
    font-weight: 500;
  }
}

#fieldset-usage_tables {
  h2 {
    padding: 15px 25px;
  }
}

.create_new_direction {
  border-top: 2px solid var(--ee-tab-bar-border);

  a {
    padding: 7px 20px;
    display: block;
    color: var(--ee-text-primary);
    margin: 0;
    background-color: transparent;
    border: none;
    text-align: left;

    &:hover {
      background-color: var(--ee-bg-dropdown-hover);
    }
  }
}

.file-edit-view {
  .filter-bar__button { margin-left: 10px;}
}

.f_manager-alert{
  display: none;
  margin: 5px auto;
  width: calc(100% - 10px);
}

.multilevel-select {
  display: block;
  width: 100%;
  margin-top: 10px;

  button {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    text-align: left;
  }

  .dropdown {
    width: calc(100% - 60px);

    ul {
      margin-top: 0;
      list-style-type: none;

      li {
        a {
          padding: 0 20px;
          min-height: 30px;
        }
      }
    }
  }

}
