.pro-frontend-modal {
    &.app-modal-inner {
        padding: 15px;
        background-color: #fff;
    }

    .panel-body {
        padding: 8px 8px;

        fieldset:first-of-type,
        .fieldset-faux:first-child {
          margin-top: -5px;
        }
    }

    #idle-modal {
      p {
        margin-bottom: 20px;
      }
    }
}

.pro-frontend-modal > .panel {
  border: none;
  margin-bottom: 0;
  background-color: none;
  border-radius: 0;
}

.pro-frontend-modal > .panel > .panel-body {
  padding: 0px;
}