		<footer class="row">
			<section class="w-8">
				<p>&copy;{current_time format='%Y'}, all rights reserved. Built with <a href="https://ellislab.com/" rel="external">ExpressionEngine&reg;</a></p>
			</section>
			<section class="w-8">
				{!-- appears in both header and footer, so a snippet is used to keep it DRY --}
				{snp_main_nav}
			</section>
		</footer>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
		<script src="{theme_folder_url}site/default/asset/js/plugins/validate.min.js" ></script>
		<script src="{theme_folder_url}site/default/asset/js/plugins/cycle2.min.js" ></script>
		<script src="{theme_folder_url}site/default/asset/js/common.min.js" ></script>
	</body>
</html>
