{layout="cypress/layout"}
{exp:channel:category_archive channel="news" style="nested"}
    {categories}
        <div id="{category_url_title}">
            <div class="category_name">{category_name}</div>
            <div class="category_url_title">{category_url_title}</div>
            <div class="category_description">{category_description}</div>
            <div class="custom_textfield">{custom_textfield}</div>
            <div class="custom_textarea">{custom_textarea}</div>
            <div class="custom_dropdown">{custom_dropdown}</div>
            <div class="category_image"><img src="{category_image}" /></div>
            <div class="category_image_smaller"><img src="{category_image:smaller}" /></div>
        </div>
    {/categories}
    {entry_titles}
        <div id="details-{entry_id}">
            <div class="title">{title}</div>
            <div class="entry_date">{entry_date format="%Y"}</div>
            <div class="channel_id">{channel_id}</div>
            <div class="channel">{channel}</div>
            <div class="channel_short_name">{channel_short_name}</div>
            <div class="channel_url">{channel_url}</div>
        </div>
    {/entry_titles}
{/exp:channel:category_archive}
