/** Advanced.css
 *
 * The styles in this file are applied using javascript.
 * It is pre-parsed by PHP (slow), so try to keep it short.
 * 
 * The advantage of using this file is that it provides full
 * cross-browser support for border-radius and advanced css 3
 * selectors (docs.jquery.com/Selectors)
 *
 * Use blocks of @controller_name {} to limit your rules to a specific
 * controller (for better performance)
 *
 */


ul#navigationTabs li a:not(.addTab) {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
ul#navigationTabs  > li {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#cp_search_form {
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}

#accessoryTabs ul li a,
#accessoryTabs  ul li.current{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* Radius 12 bottom*/
.pageContents,.templatePageContents,
.publishPageContents,#file_manager,#file_manager_holder{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

/* Radius 12 top*/

.heading,.lightHeading{
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
/* Radius 10 */	
.buttonRightHeader,
.buttonLightHeader .button,
.rightNav .blueButton,
.installPlugin  a,
.newTemplate a{
		border-radius: 10px;
	}
	
/* Other */	
h3.accordion {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}


@content_publish {
	#tab_menu_tabs .content_tab a,.markItUp ul  {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}
}

@design {
	.button a.button,
	.formArea {
		border-radius: 12px;
	}
	
	.newTemplate .button {
		border-radius: 10px;
	}
}

#write_mode_writer {
	border-radius: 15px;
}

.js_hide {
	display: none;
}
