/* headings *
.items h3 {
	font-size:1.2em;
	margin-bottom:10px;
}

/* Upload form *
input#upload_file.field {
	padding: 4px;
	border: 1px solid #b6c0c2;
	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius:	3px;
  	margin:0;
  	color:	#5f6c74;
}

#upload_form .submit_alt {
	border: 1px solid #b6c0c2;
	padding:4px 12px 4px 8px;
	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius:	3px;
}

#upload_form .submit_alt img {
	vertical-align:middle;
}
	
#upload_form label {
	margin-right:5px;
}


/* main vertical scroll */
#file_manager_main {
	position:relative;
	overflow:hidden;
	height: 450px;
}

#file_manager {
	background: #B7C0C7 url(<?=$cp_theme_url?>images/publish_file_manager_bg.jpg) repeat-y 0px 0px;
/*	background: #B7C0C7;*/
}

/* root element for pages */
#file_manager_main #pages {
	position:absolute;
	height:20000em;
}

/* single page */
.page {
	padding:10px 10px 10px 0px;
	height: 430px;
	width:480px;
	overflow-y:auto;
	overflow-x: hidden;
}

/* root element for horizontal scrollables */
.vertscrollable {
	position:relative;
	overflow:hidden;
	width: 470px;
	height: 410px;
}

/* root element for scrollable items */
.vertscrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}

/* single scrollable item */
.item {
	float:left;
	width:500px;
	height:450px;
	padding: 10px 0;
	background: none;
}

.item div {
	text-align: center;
	width: 75px;
	height:75px;
	float: left;
	word-wrap:break-word;
	margin: 0 10px 20px 10px;
	font-size: 10px;
	line-height: 15px;
	cursor:pointer;
}

.item div > div {
	height:60px;
	width: 73px;
	overflow: hidden;
	margin: 0;
}

/* main navigator */

div#nav_wreaper {
	height:450px;
	overflow-y:auto;
	overflow-x: hidden;

	width:215px;
	float:left;
/*	margin-top:40px;*/
}

#main_navi {
	float:left;
	padding:0px;
	margin:0px;
}

#main_navi li {
	background: #27343C;
	clear:both;
	color:#FFFFFF;
	height:40px;
	line-height: 40px;
	list-style-type:none;
	width:160px;
	overflow:hidden;
	cursor:pointer;
	padding-left: 20px;
	border-bottom: 1px solid #B7C0C7;
}

/*#main_navi li:hover {
	background-color:#0072BC;
}*/

#main_navi li.active {
	background: #95A700 url(<?=$cp_theme_url?>images/publish_file_manager_nav_arrow.jpg) no-repeat right;
	width:180px;
}

#main_navi strong {
	display:block;
}

#file_manager_main #progress {
	text-align:	left;
	display:none;
}

#file_manager_main .navi {
	padding-top:2px;
	margin-left:auto;
}

#file_manager_main div.navi a {
	background: #27343C url(<?=$cp_theme_url?>images/publish_file_manager_nav_button_inactive.jpg) no-repeat center center;
	cursor:pointer;
	width:15px;
	height: 15px;
	display: block;
	float: left;
	margin: 5px 2px;

}
#file_manager_main div.navi a.active {
	background: #95A700 url(<?=$cp_theme_url?>images/publish_file_manager_nav_button_active.jpg) no-repeat center center;
}

.navi_area {
	background: #27343C;
	min-height:40px;
	margin-top:-40px;
	line-height:40px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.prevThumbs {
	float:left;
	height:27px;
	width: 27px;
	background: #5AB400 url(<?=$cp_theme_url?>images/publish_file_manager_prevthumbs.jpg) no-repeat center center;
	cursor: pointer;
	margin-right: 5px;
}

.newThumbs {
	display:block;
	height:27px;
	width: 27px;
	background: #5AB400 url(<?=$cp_theme_url?>images/publish_file_manager_newthumbs.jpg) no-repeat center center;
	cursor: pointer;
	margin-left: 5px;
	float: left;
}

.nav_controls {
	display: none;
	padding:3px 10px;
	margin-top:0;
}

p.custom_field_add {
	padding: 			0;
	margin: 			0;
}


#file_manager_body button {
	padding: 5px;
}





.image_edit_form_options #image_edit_form fieldset {
	width:				440px;
	padding:			6px 10px;
}

#image_edit_form fieldset {
	background-color:	#ECF1F4;
	padding:			12px 10px;
	color:				#505050;
	font-size:			11px;
}

.image_edit_form_options #image_edit_form fieldset#rotate_fieldset ul {
	display: block;
}

#image_edit_form fieldset#rotate_fieldset ul {
	display: none;
}

#image_edit_form fieldset#rotate_fieldset li {
	display: inline;
	cursor: pointer;
}
*/