/**
 *
 * This just fixes some issues with IE
 *
 */

#breadCrumb {
	border-bottom:		1px solid #efefef;
	height: 28px;
}
 
#publish_tab .publish_textarea textarea, .publish_input input {
	width:				99%;
}
#mainContent #showToolbarLink {
	margin-right: 		24px;
}

#mainMenu {position:relative;z-index:999;}
 
.heading span.msg_open_close {
	position:absolute;
	right:15px;
	top:10px;
}

#mainContent #showToolbarLink {
	position:relative;
}

img#showToolbarImg {
	top:0;
	right:-20px;
}

img#hideToolbarImg {
	top:0;
	right:-20px;
}

/* Template Search */

div.search {
	width: 210px;
}

/* File Manager */

#file_upload_iframe .upload_rename span.extension {
	zoom: 1; 
}

.submit.upload_file,
.submit.create_new_upload_pref,
.submit.create_new_wm_pref {
	margin-top: -28px;
}

table.mainTable th {
	background:	#59656d;
}

table.mainTable th.headerSortUp {
	background:			#74848e url('../images/table_sort_desc.gif') top right no-repeat;
}

table.mainTable th.headerSortDown {
	background:			#74848e url('../images/table_sort_asc.gif') top right no-repeat;
}

/* Write Mode */

#write_mode_close_container .discard_changes,
#write_mode_footer .discard_changes {
	float:				none;
}
