{layout="cypress/layout"}
<h3>all-cookies</h3>
<ul id="all-cookies">
    {exp:consent:cookies}
    <li>{cookie_name}</li>
    {/exp:consent:cookies}
</ul>

<h3>not-necessary-ee-cookies</h3>
<ul id="not-necessary-ee-cookies">
    {exp:consent:cookies provider="ee" type="not necessary"}
    <li>{cookie_name}</li>
    {/exp:consent:cookies}
</ul>

<h3>not-cp-cookies</h3>
<ul id="not-cp-cookies">
    {exp:consent:cookies provider="not cp"}
    <li>{cookie_name}</li>
    {/exp:consent:cookies}
</ul>

<h3>pro-comment-cookies</h3>
<ul id="pro-comment-cookies">
    {exp:consent:cookies provider="pro|comment"}
    <li>{cookie_name}</li>
    {/exp:consent:cookies}
</ul>
