.formcode
{
    width: 100%;
    height:160px;
}

.bottompad
{
    margin-bottom: 30px;
}

.terms_of_service_box
{
    background-color: #fff;
    border: 1px solid #B6C0C2;
    padding: 3px;
    width: 160px;
}

.terms_of_service_box span
{
    float:left;
    border: 1px solid #555;
    color: #fff;
    font-weight:bold;
    background-color: #999;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    margin-left: 2px;
    margin-right: 4px;
}

#simple_registration_form li {
    margin: 10px;
    border: 1px #999 dashed;
    padding: 10px;
}

#simple_registration_form .input_box
{
    background-color: #fff;
    text-color: #999;
    font-style: italic;
    font-size: 14px;
    padding: 16px;
}

.sr-warning, .sr-error, .sr-success
{
    position: relative;
    min-height: 18px;
    margin: 15px 0;
    height: auto;
    padding: 15px;
    line-height: 1.5;
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
}

.sr-warning {
    background-color: #F6F3D5;
    color: #96904D;
}

.sr-error {
    background-color: #F1D7D7;
    color: #A95252;
}

.sr-success {
    background-color: #DEFCD5;
    color: #52A954;
}

.infobox
{
    background-color: #fff;
    border: 1px #444 dashed;
    padding:10px;
    margin-bottom:10px;
    margin-top:10px;
}

.infobox p
{
padding-bottom: 5px;
padding-top: 10px;
}

.infobox ul
{
list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

.infobox ul li:before {
    content: "\00BB \0020";
}
