<div class="default-linear">
    {exp:channel:category_archive channel="about" style="linear" orderby="title"}
        {categories}
            <div>{category_name}</div>
        {/categories}
    {/exp:channel:category_archive}
</div>
<div class="default-nested">
    {exp:channel:category_archive channel="about" style="nested" orderby="title"}
        {categories}
            <div>{category_name}</div>
        {/categories}
    {/exp:channel:category_archive}
</div>

<div class="title-linear">
    {exp:channel:category_archive channel="about" style="linear" orderby="title"}
        {categories}
            <div>{category_name}</div>
        {/categories}
    {/exp:channel:category_archive}
</div>
<div class="title-nested">
    {exp:channel:category_archive channel="about" style="nested" orderby="title"}
        {categories}
            <div>{category_name}</div>
        {/categories}
    {/exp:channel:category_archive}
</div>
