{exp:channel:category_heading category_id="39"}
<div id="{category_url_title}">
    <div class="category_name">{category_name}</div>
    <div class="category_url_title">{category_url_title}</div>
    <div class="category_description">{category_description}</div>
    <div class="custom_textfield">{custom_textfield}</div>
    <div class="custom_textarea">{custom_textarea}</div>
    <div class="custom_dropdown">{custom_dropdown}</div>
    <div class="category_image"><img src="{category_image}" /></div>
    <div class="category_image_smaller"><img src="{category_image:smaller}" /></div>
</div>{if no_results}sem nada{/if}
{/exp:channel:category_heading}
