name: Release
on:
  push:
    tags:
      - '6.3.4'
      - '6.3.5'
      - '6.3.6'
      - '6.3.7'
      - '6.3.8'
      - '6.3.9'
      - '6.3.10'
      - '6.4.0'
      - '6.4.1'
      - '7.0.0'
      - '7.0.1'
      - '7.0.2'
      - '7.0.3'
      - '7.0.4'
      - '7.0.5'
      - '7.1.0'
      - '7.1.1'
      - '7.1.2'
      - '7.1.3'
      - '7.1.4'
jobs:
  build:
    #if: github.base_ref == '6.x'
    name: Build & Release
    runs-on: ubuntu-latest
    steps:
      - uses: olegtarasov/get-tag@v2.1
        id: tagName
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Checkout Pro
        uses: actions/checkout@v2
        with:
          repository: EllisLab/ExpressionEngine-Pro
          token: ${{ secrets.ORG_ACCESS_TOKEN }}
          path: __pro
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '10'
      - name: Install build tool dependencies
        working-directory: build-tools
        run: npm install
      - name: Rebuild CSS and JS
        run: |
          npm install
          npm run build:css --production
          npm run build:js
          npm run build:old-js

      - name: Run build process (with Pro)
        if: github.event.pull_request.base.ref == '6.x'
        working-directory: build-tools
        env:
          RELEASE_KEY: ${{ secrets.RELEASE_KEY }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          APP_REPO_PATH: ${{ github.workspace }}
          PRO_REPO_PATH: ${{ github.workspace }}/__pro
        run: |
          gulp app --local --head --skip-lint --version=${{ steps.build_json.outputs.BUILD_VERSION }}

      - name: Run build process (without Pro)
        if:  github.event.pull_request.base.ref == '7.x'
        working-directory: build-tools
        env:
          RELEASE_KEY: ${{ secrets.RELEASE_KEY }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          APP_REPO_PATH: ${{ github.workspace }}
          PRO_REPO_PATH: ${{ github.workspace }}/__pro
        run: |
          gulp app --local --head --skip-lint --skip-pro --version=${{ steps.build_json.outputs.BUILD_VERSION }}
  
      - name: Archive Build files
        uses: actions/upload-artifact@v2
        with:
          name: EE${{ steps.tagName.outputs.tag }}
          path: build-tools/builds
      - name: Get previous release tag
        id: prev_release_tag
        continue-on-error: true
        uses: oprypin/find-latest-tag@v1
        with:
          repository: ExpressionEngine/ExpressionEngine
          regex: '^\d+\.\d+\.\d+$'
      #- name: Fetch list of tags
      #  run: |
      #    git fetch --tags
      #- name: Build Changelog
      #  id: build_changelog
      #  uses: mikepenz/release-changelog-builder-action@v1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.ORG_ACCESS_TOKEN }}
      #  with:
      #    fromTag: ${{ steps.prev_release_tag.outputs.tag }}
      #    configuration: build-tools/changelog.config.json
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build-tools/builds/ExpressionEngine*,build-tools/builds/signature*"
          name: ExpressionEngine ${{ steps.tagName.outputs.tag }}
          allowUpdates: true
          token: ${{ secrets.ORG_ACCESS_TOKEN }}
          body: ExpressionEngine ${{ steps.tagName.outputs.tag }}
      - name: Directory Listing on Failure
        if: failure()
        run: |
          ls -latr
          ls -latr build-tools
          ls -latr build-tools/builds
