div.Rte {
	margin-bottom: 10px;
}
textarea.cke_source{
	max-height: none;
}
iframe.Rte {
	border: 1px solid #bbb; width: 100%; background: #fff;
	opacity: 0.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
iframe.Rte:hover {
	opacity: 1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);
}
.ck-content ol li {
    list-style-position: inside;
}
.ck.ck-reset_all .ck-mentions .mention-extra {
	color: #666;
}