
<html>
    <body>
        {exp:search:total_results}
            <dl>
                <dt>Total results:</dt>
                <dd id="total-results__within-pair">{total_results}</dd>
            </dl>
        {/exp:search:total_results}

        <dl>
            <dt>total_results:</dt>
            <dd id="total-results__single-var">{exp:search:total_results}</dd>
        </dl>

        {exp:search:search_results}
            {if no_results} Nothing found {/if}

            <h3>Results:</h3>

            <p>
                <a href="{auto_path}">{title}</a>
            </p>

            {paginate}
                <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
            {/paginate}

        {/exp:search:search_results}
    </body>
</html>
