{layout="cypress/layout"}
{exp:file:entries directory_id="{segment_3}" dynamic="no" folder_id="{segment_4}"}

<div class="file_variables" id="file-{file_id}">
    <p class="file_name">{file_name}</p>
    <p class="title">{title}</p>
    <p class="model_type">{model_type}</p>
    <p class="file_type">{file_type}</p>
    <p class="mime_type">{mime_type}</p>
    <p class="upload_location_id">{upload_location_id}</p>
    <p class="directory_id">{directory_id}</p>
    <p class="folder_id">{folder_id}</p>

    <p class="absolute_count">{absolute_count}</p>
    <p class="count">{count}</p>
    <p class="credit">{credit}</p>
    <p class="description">{description}</p>
    <p class="directory_title">{directory_title}</p>
    <p class="extension">{extension}</p>
    <p class="file_id">{file_id}</p>
    <p class="file_size">{file_size}</p>
    <p class="file_url">{file_url}</p>
    <p class="height">{height}</p>
    <p class="id_path">{id_path="test/file"}</p>
    <p class="location">{location}</p>
    <p class="modified_date">{modified_date}</p>
    <p class="path">{path}</p>
    <p class="total_results">{total_results}</p>
    <p class="upload_date">{upload_date}</p>
    <p class="url">{url}</p>
    <p class="width">{width}</p>

    <hr>
</div>

{/exp:file:entries}