{layout="cypress/layout"}
{exp:channel:entries channel="about" limit="5" paginate="bottom"}
<div id="entry-{entry_id}" class="entry">
    <h4>{title}</h4>
    <p>
        <span class="count">{count}</span> /
        <span class="index">{index}</span>
    </p>
    <p>
        <span class="absolute_count">{absolute_count}</span> /
        <span class="absolute_index">{absolute_index}</span>
    </p>
</div>

{paginate}
<div class="pagination">
    {if previous_page}
        <a href="{auto_path}" class="prev">Previous Page</a> &nbsp;
    {/if}
    {if next_page}
        <a href="{auto_path}" class="next">Next Page</a>
    {/if}
</div>
{/paginate}

{/exp:channel:entries}