{layout="cypress/layout"}

{exp:channel:entries entry_id="1"} 
<div class="field">
    <div class="ids">{members:member_ids}</div>
    {members}
        <div class="member-{members:count}">
            <div class="username">{members:username}</div>
            <div class="screen_name">{members:screen_name}</div>
            <div class="birthday">{members:birthday format="%Y-%m-%d"}</div>
        </div>
        <hr>
    {/members}
</div>

<div class="grid">
    {stupid_grid}
        <div class="grid-row-{stupid_grid:count}">
            <div class="ids">{stupid_grid:members_title:member_ids delimiter=","}</div>
            {stupid_grid:members_title}
            <div class="grid-member-{stupid_grid:members_title:count}">
                <div class="username">{stupid_grid:members_title:username}</div>
                <div class="screen_name">{stupid_grid:members_title:screen_name}</div>
                <div class="birthday">{stupid_grid:members_title:birthday format="%Y-%m-%d"}</div>
            </div>
            {/stupid_grid:members_title}
        </div>
    {/stupid_grid}
</div>

{corpse}
<div class="fluid">
    {corpse:members}
        <div class="ids">{content:member_ids}</div>
        {content}
        <div class="member-{content:count}">
            <div class="username">{content:username}</div>
            <div class="screen_name">{content:screen_name}</div>
            <div class="birthday">{content:birthday format="%Y-%m-%d"}</div>
        </div>
        <hr>
        {/content}
    {/corpse:members}
</div>

<div class="fluid-grid">
    {corpse:stupid_grid}
        {content}
        <div class="grid-row-{content:count}">
            <div class="grid-ids">{content:members_title:member_ids}</div>
            {content:members_title}
            <div class="fluid-grid-member-{content:members_title:count}">
                <div class="username">{content:members_title:username}</div>
                <div class="screen_name">{content:members_title:screen_name}</div>
                <div class="birthday">{content:members_title:birthday format="%Y-%m-%d"}</div>
            </div>
            {/content:members_title}
        </div>
        {/content}
    {/corpse:stupid_grid}
</div>
{/corpse}
{/exp:channel:entries}
